<div class="col-md-9">
    <div wmProgressBar
         displayformat.bind="displayformat"
         captionplacement.bind="captionplacement"
         minvalue.bind="minvalue"
         maxvalue.bind="maxvalue"
         datavalue.bind="datavalue"
         type.bind="type">
    </div>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Display Format
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="displayformat" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Caption Placement
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="captionplacement" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Min value
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="minvalue" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Max value
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="maxvalue" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Data value
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="datavalue" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Type
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="type" />
        </div>
    </div>
</div>