<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="btn-transparent navbar-toggle collapsed" data-toggle="collapse" (click)="toggleCollapse()" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <i [ngClass]="menuiconclass"></i>
        </button>
        <a class="navbar-brand" [href]="_homeLink || '#/'" *ngIf="title || _imgSrc">
            <img data-identifier="img" class="brand-image" [alt]="Brand" height="20" *ngIf="_imgSrc" [src]="_imgSrc"/>
            <span class="title" [textContent]="title"></span>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ng-content></ng-content>
    </div>
</div>