<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="btn-transparent navbar-toggle collapsed" data-toggle="collapse" (click)="toggleCollapse()" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <i [ngClass]="menuiconclass"></i>
        </button>
        <a class="navbar-brand" href="#/" *ngIf="title || imagesrc">
            <img data-identifier="img" class="brand-image" [alt]="Brand" height="20" *ngIf="imgsrc" [src]="imagesrc"/>
            <span class="title" [textContent]="title"></span>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="collapse-content" partial-container-target>
        <ng-content></ng-content>
    </div>
</div>