@if (iconurl) {
  <img data-identifier="img" alt="Image" class="anchor-image-icon" [src]="iconurl | image" [ngStyle]="{width:iconwidth, height:iconheight, margin:iconmargin}"/>
}
@if (iconclass) {
  <i class="app-icon {{iconclass}}" aria-hidden="true" [ngStyle]="{width:iconwidth, height:iconheight, margin:iconmargin}"></i>
}
@if (iconclass) {
  <span class="sr-only">{{caption}} {{appLocale.LABEL_ICON}}</span>
}
<span class="anchor-caption" [innerHTML]="caption"></span>
<ng-content select=".caret"></ng-content>
@if (badgevalue) {
  <span class="badge pull-right" [textContent]="badgevalue"></span>
}
