
<ul class="pagination advanced {{navigationClass}}" *ngIf="navcontrols === 'Classic'">
    <li [ngClass]="{'disabled':isDisableFirst}">
        <a [title]="appLocale.LABEL_FIRST" name="first" href="javascript:void(0);"
           [attr.aria-disabled]="isDisableFirst"
           (click)="navigatePage('first', $event)">
            <span aria-hidden="true"><i class="wi wi-first-page"></i></span>
            <span class="sr-only">Go to first page {{ isDisableFirst ? ' , Disabled' : ''}}</span>
        </a>
    </li>
    <li [ngClass]="{'disabled':isDisablePrevious}">
        <a [title]="appLocale.LABEL_PREVIOUS" name="prev" href="javascript:void(0);"
            [attr.aria-disabled]="isDisablePrevious"
            (click)="navigatePage('prev', $event)">
            <span aria-hidden="true"><i class="wi wi-chevron-left"></i></span>
            <span class="sr-only">Go to previous page {{ isDisablePrevious ? ', Disabled' : ''}}</span>
        </a>
    </li>
    <li class="pagecount disabled">
        <a href="javascript:void(0);">
            <input [(ngModel)]="dn.currentPage" [attr.aria-label]="'Showing Page ' + dn.currentPage + ' of ' + pageCount" [disabled]="isDisableCurrent"
                   [ngModelOptions]="{standalone: true}"
                   type="number"
                  (keydown)="onKeyDown($event)" (change)="onModelChange($event)" class="form-control"/>
        </a>
    </li>
    <li class="disabled">
        <a [hidden]="isDisableCount"> / {{pageCount}}</a>
    </li>
    <li [ngClass]="{'disabled':isDisableNext}">
        <a [title]="appLocale.LABEL_NEXT" name="next" href="javascript:void(0);"
           [attr.aria-disabled]="isDisableNext"
           (click)="navigatePage('next', $event)">
            <span aria-hidden="true"><i class="wi wi-chevron-right"></i></span>
            <span class="sr-only">Go to next page {{ isDisableNext ? ' , Disabled' : ''}}</span>
        </a>
    </li>
    <li [ngClass]="{'disabled':isDisableLast}">
        <a [title]="appLocale.LABEL_LAST" name="last" href="javascript:void(0);"
           [attr.aria-disabled]="isDisableLast"
           (click)="navigatePage('last', $event)">
            <span aria-hidden="true"><i class="wi wi-last-page"></i></span>
            <span class="sr-only">Go to last page {{ isDisableLast ? ' , Disabled' : ''}}</span>
        </a>
    </li>
    <li *ngIf="showrecordcount" class="totalcount disabled">
        <a href="javascript:void(0);" tabindex="-1" aria-disabled="true">{{appLocale.LABEL_TOTAL_RECORDS}}: {{dataSize}}</a>
    </li>
</ul>
<ul class="pager {{navigationClass}}" *ngIf="navcontrols === 'Pager'">
    <li class="previous" [ngClass]="{'disabled':isDisablePrevious}">
        <a href="javascript:void(0);" (click)="navigatePage('prev', $event)"
           [attr.aria-disabled]="isDisablePrevious">
            <span aria-hidden="true"><i class="wi wi-chevron-left"></i></span>
            {{appLocale.LABEL_PREVIOUS}}
            <span class="sr-only">{{ isDisablePrevious ? ' , Disabled' : ''}}</span>
        </a>
    </li>
    <li class="next" [ngClass]="{'disabled':isDisableNext}">
        <a href="javascript:void(0);" (click)="navigatePage('next', $event)"
           [attr.aria-disabled]="isDisableNext">
            <span aria-hidden="true"><i class="wi wi-chevron-right"></i></span>
            {{appLocale.LABEL_NEXT}}
            <span class="sr-only">{{ isDisableNext ? ' , Disabled' : ''}}</span>
        </a>
    </li>
</ul>

<pagination class="pagination basic" [ngClass]="navigationClass" *ngIf="navcontrols === 'Basic'" role="navigation"
            [itemsPerPage]="maxResults" [totalItems]="dataSize"
            (pageChanged)="pageChanged($event)" [ngModelOptions]="{standalone:true}" [ngModel]="dn.currentPage"
            [attr.aria-label]="'Showing Page ' + dn.currentPage + ' of ' + pageCount + ' pages'"
            [boundaryLinks]="boundarylinks" [maxSize]="maxsize"
            [directionLinks]="directionlinks"
            firstText="Firtst" lastText="Last"
            [customPreviousTemplate]="prevTemplate"
            [customNextTemplate]="nextTemplate"
            [customPageTemplate]="pageTemplate"></pagination>

<ul *ngIf="navcontrols === 'Basic' && showrecordcount" class="pagination">
    <li class="totalcount disabled basiccount">
        <a href="javascript:void(0);" tabindex="-1" aria-disabled="true">{{appLocale.LABEL_TOTAL_RECORDS}}: {{dataSize}}</a>
    </li>
</ul>

<ng-template #pageTemplate let-page>
    <span class="sr-only" [attr.data-isacitvepage]="page.active">{{'Page '}}</span>
    {{page.number}}
    <span class="sr-only" *ngIf="page.active"> {{', Showing page ' + page.number + ' of ' + pageCount}}</span>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled">
    <span class="sr-only" [attr.data-isdisabled]="disabled">Go to Previous page {{disabled ? ', Disabled' : ''}}</span>
</ng-template>
<ng-template #nextTemplate let-disabled="disabled">
    <span class="sr-only" [attr.data-isdisabled]="disabled">Go to Next page {{disabled ? ', Disabled' : ''}}</span>
</ng-template>
