<textarea class="form-control app-textarea"
  focus-target
  [attr.name]="name"
  [(ngModel)]="datavalue"
  [ngModelOptions]="ngModelOptions"
  [readonly]="readonly"
  [required]="required"
  [disabled]="disabled"
  [maxlength]="maxchars"
  [attr.tabindex]="tabindex"
  [attr.placeholder]="placeholder"
  [attr.accesskey]="shortcutkey"
  [attr.aria-label]="arialabel"
  aria-multiline="true"
  [autofocus]="autofocus"
  [ngClass]="conditionalclass"
  [ngStyle]="conditionalstyle"
  (blur)="handleBlur($event)"
  (focus)="handleInputEvent($event)"
  (input)="onInputChange()"
  (ngModelChange)="handleChange($event); onInputChange();"
  #textarea
></textarea>

@if (maxchars) {
  <div class="textarea-count"  >{{limitdisplaytext}}</div>
}
