<textarea class="form-control app-textarea"
          focus-target
          role="textbox"
          [attr.name]="name"
          [(ngModel)]="datavalue"
          [ngModelOptions]="ngModelOptions"
          [readonly]="readonly"
          [required]="required"
          [disabled]="disabled"
          [maxlength]="maxchars"
          [attr.tabindex]="tabindex"
          [attr.placeholder]="placeholder"
          [attr.accesskey]="shortcutkey"
          [attr.aria-label]="hint || 'Textarea field'"
          aria-multiline="true"
          [autofocus]="autofocus"
          (blur)="handleBlur($event)"
          (input)="onInputChange()"
          (ngModelChange)="handleChange($event); onInputChange();"
          #textarea
></textarea>

<div *ngIf="maxchars" class="textarea-count"  >{{limitdisplaytext}}</div>
