<input class="form-control app-textbox app-dateinput display-input" aria-label="Select date"
       type="text"
       [value]="displayValue"
       (click)="datepicker.toggle()"
       [disabled]="disabled || readonly || isCurrentDate"
       [required]="required"
       [attr.placeholder]="placeholder">
<span class="input-group-btn" (click)="datepicker.toggle()">
    <button type="button" class="btn btn-default btn-time" aria-haspopup="true" aria-expanded="false" focus-target><i aria-hidden="true" class="app-icon wi wi-calendar"></i></button>
</span>
<div style="height: 0;" aria-label="datepicker dropdownmenu" aria-controls="date">
    <input class="model-holder"
           container="body"
           [bsConfig]="_dateOptions"
           [title]="hint"
           [isOpen]="isOpen"
           #datepicker="bsDatepicker"
           bsDatepicker
           [isDisabled]="disabled || readonly || isCurrentDate"
           [bsValue]="bsDatavalue"
           (onShown)="onDatePickerOpen()"
           (bsValueChange)="onDateChange($event)">
</div>