<a [popover]="popoverTemplate"
    [popoverContext]="context"
    [popoverTitle]="title"
    [placement]="popoverplacement"
    [outsideClick]="outsideclick"
    [triggers]="event"
    (onShown)="onShown()"
    (onHidden)="onHidden()"
    containerClass="app-popover animated {{contentanimation}} {{popoverContainerCls}}"
    container="body"
    [isOpen]="isOpen"
    [tabindex]="tabindex"
    [name]="name"
    [class]="class"
    [ngClass]="{'disable-popover': !canPopoverOpen}"
    [adaptivePosition]="false"
    #anchor
    name.bind="name"
    wmAnchor
    animation.bind="animation"
    badgevalue.bind="badgevalue"
    caption.bind="caption"
    encodeurl.bind="encodeurl"
    hint.bind="hint"
    hyperlink.bind="hyperlink"
    iconurl.bind="iconurl"
    iconwidth.bind="iconwidth"
    iconheight.bind="iconheight"
    iconmargin.bind="iconmargin"
    iconclass.bind="iconclass"
    iconposition.bind="iconposition"
    shortcutkey.bind="shortcutkey"
    tabindex.bind="tabindex"
    (keydown)="onPopoverAnchorKeydown($event)">
</a>
