<div class="col-md-9">
    <p wmMessage caption.bind="caption"
                type.bind="type"
                hideclose.bind="hideclose"
                show.bind="show"></p>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Caption
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="caption" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Type
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="type" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Hide Close
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="hideclose" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Show
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="show" />
        </div>
    </div>
</div>
