@import "./reset.css";
@import "./bootstrap.min.css";
@import "./bootstrap-card.css";
@import "./prism.css";
@import "./ionicons.min.css";
@import "./compodoc.css";
@import "./tablesort.css";

.summary {
    padding-left: 20px;
}

.tab-pane > h3:first-of-type {
    display: none;
}

.tab-pane > p:nth-of-type(3) {
    display: none;
}
