<img data-identifier="img" alt="Image" class="anchor-image-icon" [src]="iconsrc | image" *ngIf="iconsrc" [ngStyle]="{width:iconwidth, height:iconheight, margin:iconmargin}"/>
<i class="app-icon {{iconclass}}" aria-hidden="true" [ngStyle]="{width:iconwidth, height:iconheight, margin:iconmargin}" *ngIf="iconclass"></i>
<span class="sr-only" *ngIf="iconclass">Icon</span> <!--Todo(Add the name of the icon selected)-->
<span class="anchor-caption" [innerHTML]="caption | trustAs:'html'"></span>
<span *ngIf="badgevalue" class="badge pull-right" [textContent]="badgevalue"></span>