<ng-template [ngIf]="!groupby" [ngIfElse]="groupedListTemplate">
    <li [ngClass]="['radio', 'app-radio', itemclass, itemsPerRowClass]"
        [class.active]="item.selected"
        *ngFor="let item of datasetItems;let i = index"
        [wmItemTemplate]="content" [userComponentParams]="item" partialContainer
        (click)="onRadioLabelClick($event, item.key)" role="presentation">
        <!-- Default item template -->
        <label *ngIf="!content" class="app-radioset-label"
               [ngClass]="{'disabled':disabled || readonly}">
            <input [attr.data-attr-index]="i" [checked]="item.selected" [disabled]="disabled || readonly"
                   [name]="'radioset_' + widgetId" [tabindex]="tabindex" [value]="item.key"
                   type="radio"/>
            <span class="caption" [textContent]="item.label"></span>
        </label>
        <!-- Custom partial template -->
        <label *ngIf="content" class="app-radioset-label"
               [ngClass]="{'disabled':disabled || readonly}">
            <input [attr.data-attr-index]="i" [checked]="item.selected" [disabled]="disabled || readonly"
                   [name]="'radioset_' + widgetId" [tabindex]="tabindex" [value]="item.key"
                   type="radio"/>
            <span class="caption customTemplate" partial-container-target></span>
        </label>
    </li>
</ng-template>

<input [disabled]="disabled || readonly" hidden class="model-holder">
<div *ngIf="readonly || disabled" aria-readonly="true" class="readonly-wrapper"></div>

<!-- This template will be displayed when groupby is specified. -->
<ng-template #groupedListTemplate>
    <li *ngFor="let groupObj of groupedData" class="app-list-item-group" role="presentation" >
        <ul class="item-group" [attr.aria-labelledby]="'group_' + widgetId + '_' + groupObj.key">
            <li [id]="'group_' + widgetId + '_' + groupObj.key" aria-hidden="true" class="list-group-header" (click)="handleHeaderClick($event)" [title]="groupObj.key" [ngClass]="{'collapsible-content': collapsible}">
                <h4 class="group-title" [attr.aria-label]="'Group Name '+groupObj.key">{{groupObj.key}}
                    <div class="header-action">
                        <i class="app-icon wi action wi-chevron-up" *ngIf="collapsible" title="{{appLocale.LABEL_COLLAPSE}}/{{appLocale.LABEL_EXPAND}}"></i>
                        <span *ngIf="showcount" class="label label-default" [textContent]="groupObj.data.length"></span>
                    </div>
                </h4>
            </li>
            <li *ngFor="let item of groupObj.data; let i = index;"
                [ngClass]="['radio', 'app-radio', 'group-list-item', itemclass, itemsPerRowClass]"
                [class.active]="item.selected"
                [wmItemTemplate]="content" [userComponentParams]="item" partialContainer
                (click)="onRadioLabelClick($event, item)">
                <!-- Default item template -->
                <label *ngIf="!content" class="app-radioset-label"
                       [ngClass]="{'disabled':disabled || readonly}">
                    <input [attr.data-attr-index]="i" [name]="'radioset_' + widgetId" type="radio"
                           [value]="item.key" [disabled]="disabled || readonly" [tabindex]="tabindex" [checked]="item.selected" [attr.aria-checked]="item.selected ? 'true' : 'false'"/>
                    <span class="caption" [textContent]="item.label"></span>
                </label>
                <!-- Custom partial template -->
                <label *ngIf="content" class="app-radioset-label"
                       [ngClass]="{'disabled':disabled || readonly}">
                    <input [attr.data-attr-index]="i" [name]="'radioset_' + widgetId" type="radio"
                           [value]="item.key" [disabled]="disabled || readonly" [tabindex]="tabindex" [checked]="item.selected" [attr.aria-checked]="item.selected ? 'true' : 'false'"/>
                    <span class="caption customTemplate" partial-container-target></span>
                </label>
            </li>
        </ul>
    </li>
</ng-template>
