@if (!groupby) {
  @for (item of datasetItems; track item; let i = $index) {
    <li [ngClass]="['radio', 'app-radio', itemclass, itemsPerRowClass]"
      [class.active]="item.selected"
      [wmItemTemplate]="content" [userComponentParams]="item" partialContainer
      (click)="onRadioLabelClick($event, item.key)" role="presentation">
      <!-- Default item template -->
      @if (!content) {
        <label class="app-radioset-label"
          [ngClass]="{'disabled':disabled || readonly}">
          <input [attr.data-attr-index]="i" [checked]="item.selected" [disabled]="disabled || readonly"
            [name]="'radioset_' + widgetId" [tabindex]="tabindex" [value]="item.key"
            type="radio"/>
          <span class="caption" [textContent]="item.label"></span>
        </label>
      }
      <!-- Custom partial template -->
      @if (content) {
        <label class="app-radioset-label"
          [ngClass]="{'disabled':disabled || readonly}">
          <input [attr.data-attr-index]="i" [checked]="item.selected" [disabled]="disabled || readonly"
            [name]="'radioset_' + widgetId" [tabindex]="tabindex" [value]="item.key"
            type="radio"/>
          <span class="caption customTemplate" partial-container-target></span>
        </label>
      }
    </li>
  }
} @else {
  @for (groupObj of groupedData; track groupObj; let groupindex = $index) {
    <li class="app-list-item-group" role="presentation" >
      <ul class="item-group" [attr.aria-labelledby]="'group_' + widgetId + '_' + groupindex">
        <li [id]="'group_' + widgetId + '_' + groupindex" aria-hidden="true" class="list-group-header" (click)="handleHeaderClick($event)" [title]="groupObj.key" [ngClass]="{'collapsible-content': collapsible}">
          <h4 class="group-title" [attr.aria-label]="'Group '+groupObj.key">{{groupObj.key}}
            <div class="header-action">
              @if (collapsible) {
                <i class="app-icon wi action wi-chevron-up" title="{{appLocale.LABEL_COLLAPSE}}/{{appLocale.LABEL_EXPAND}}"></i>
              }
              @if (showcount) {
                <span class="label label-default" [textContent]="groupObj.data.length"></span>
              }
            </div>
          </h4>
        </li>
        @for (item of groupObj.data; track item; let i = $index) {
          <li
            [ngClass]="['radio', 'app-radio', 'group-list-item', itemclass, itemsPerRowClass]"
            [class.active]="item.selected"
            [wmItemTemplate]="content" [userComponentParams]="item" partialContainer
            (click)="onRadioLabelClick($event, item)">
            <!-- Default item template -->
            @if (!content) {
              <label class="app-radioset-label"
                [ngClass]="{'disabled':disabled || readonly}">
                <input [attr.data-attr-index]="i" [name]="'radioset_' + widgetId" type="radio"
                  [value]="item.key" [disabled]="disabled || readonly" [tabindex]="tabindex" [checked]="item.selected"/>
                <span class="caption" [textContent]="item.label"></span>
              </label>
            }
            <!-- Custom partial template -->
            @if (content) {
              <label class="app-radioset-label"
                [ngClass]="{'disabled':disabled || readonly}">
                <input [attr.data-attr-index]="i" [name]="'radioset_' + widgetId" type="radio"
                  [value]="item.key" [disabled]="disabled || readonly" [tabindex]="tabindex" [checked]="item.selected"/>
                <span class="caption customTemplate" partial-container-target></span>
              </label>
            }
          </li>
        }
      </ul>
    </li>
  }
}

<input [disabled]="disabled || readonly" hidden class="model-holder">
@if (readonly || disabled) {
  <div aria-readonly="true" class="readonly-wrapper"></div>
}

<!-- This template will be displayed when groupby is specified. -->
