<li [ngClass]="['radio', 'app-radio', itemclass]"
    [class.active]="item.selected"
    *ngFor="let item of datasetItems;let i = index"
    [wmItemTemplate]="content" [userComponentParams]="item" partialContainer
    (click)="onRadioLabelClick($event, item.key)">
    <!-- Default item template -->
    <label *ngIf="!content" class="app-radioset-label"
           [ngClass]="{'disabled':disabled || readonly}"
           [title]="item.label">
        <input [name]="'radioset_' + widgetId" type="radio" [attr.aria-checked]="item.selected" [attr.data-attr-index]="i"
               [value]="item.key" [disabled]="disabled || readonly" [tabindex]="tabindex" [checked]="item.selected"/>
        <span class="caption" [textContent]="item.label"></span>
    </label>
    <!-- Custom partial template -->
    <label *ngIf="content" class="app-radioset-label"
           [ngClass]="{'disabled':disabled || readonly}"
           [title]="item.label">
        <input [name]="'radioset_' + widgetId" type="radio" [attr.aria-checked]="item.selected" [attr.data-attr-index]="i"
               [value]="item.key" [disabled]="disabled || readonly" [tabindex]="tabindex" [checked]="item.selected"/>
        <span partial-container-target></span>
    </label>
</li>

<input [disabled]="disabled || readonly" hidden class="model-holder">
<div *ngIf="readonly || disabled" aria-readonly="true" class="readonly-wrapper"></div>
