<div [(ngModel)]="_model_" (focus)="onFocus($event)" ngDefaultControl role="input">
    <div *ngIf="!readonly" class="rating-style">
        <label [ngClass]="{active : rate.value <= selectedRatingValue}"
               [ngStyle]="{'font-size' :iconsize, color: rate.value <= selectedRatingValue && iconcolor}"
               *ngFor="let rate of range; let $id = index;"
               [title]="rate.label || rate.value"
               (mouseleave)="onMouseleave($event, rate)"
               (mouseenter)="onMouseenter($event, rate)"
               [for]="_id + '-' + rate.value">
            <input type="radio" [id]="_id + '-' + rate.value" (click)="getActiveElements($event, rate)" [name]="ratingname" [value]="rate.value"/>
        </label>
    </div>
    <div [class.hidden]="!readonly" [ngStyle]="{'font-size' :iconsize}" class="ratings-container disabled" >
        <div class="ratings active" [ngStyle]="{width: ratingsWidth, color: iconcolor}"></div>
    </div>
    <label *ngIf="showcaptions" class="caption" [innerHtml]="caption"></label>
</div>