@if (showMessage) {
  <div class="network-info-toaster-content">
    @switch (networkState) {
      @case (-3) {
        <div class="info">
          <label class="message" [textContent]="appLocale.MESSAGE_NETWORK_NOT_AVAILABLE"></label>
          <button class="btn btn-default hide-btn" (click)="hideMessage()" [textContent]="appLocale.LABEL_HIDE_NETWORK_INFO"></button>
        </div>
      }
      @case (-2) {
        <div class="info">
          <label class="message" [textContent]="appLocale.MESSAGE_SERVICE_NOT_AVAILABLE"></label>
          <button class="btn btn-default hide-btn" (click)="hideMessage()" [textContent]="appLocale.LABEL_HIDE_NETWORK_INFO"></button>
        </div>
      }
      @case (-1) {
        <div class="info">
          <label class="message" [textContent]="appLocale.MESSAGE_SERVICE_AVAILABLE"></label>
          <button class="btn btn-default hide-btn" (click)="hideMessage()" [textContent]="appLocale.LABEL_HIDE_NETWORK_INFO"></button>
          <button class="btn btn-primary connect-btn" (click)="connect()" [textContent]="appLocale.LABEL_CONNECT_TO_SERVICE"></button>
        </div>
      }
      @case (0) {
        <div class="info">
          <label class="message" [textContent]="appLocale.MESSAGE_SERVICE_CONNECTING"></label>
        </div>
      }
      @case (1) {
        <div class="info">
          <label class="message" [textContent]="appLocale.MESSAGE_SERVICE_CONNECTED"></label>
        </div>
      }
    }
  </div>
}