@if (showHeader) {
  <div class="app-card-header panel-heading">
    @if (iconclass || iconurl) {
      <div class="app-card-avatar">
        @if (iconclass && !iconurl) {
          <i class="app-icon" [ngClass]="iconclass"></i>
        }
        @if (iconurl) {
          <img class="img-circle" [src]="iconurl" />
        }
      </div>
    }
    <div class="app-card-header-text">
      <h4 class="card-heading" [textContent]="title"></h4>
      <h5 class="card-subheading text-muted" [textContent]="subheading"></h5>
    </div>
    @if (actions) {
      <div class="panel-actions">
        <!-- TODO(punith) need to bind autoclose-->
        <div wmMenu dropdown
          [autoClose]="autoclose !== 'disabled'"
          class="panel-action"
          type="anchor"
          iconclass="wm-sl-l sl-more-menu-vertical"
          menuposition="down,left"
          hint="Actions"
          caption=""
          dataset.bind="actions">
        </div>
      </div>
    }
  </div>
}
@if (picturesource) {
  <div class="app-card-image"  [ngStyle]="{'max-height':imageheight}">
    <img wmPicture class="card-image" picturesource.bind="picturesource" hint.bind="picturetitle" />
  </div>
}
<div #cardContainerWrapper>
  <ng-content ngProjectAs="[wmCardContent]"></ng-content>
</div>
<div>
  <ng-content ngProjectAs="[wmCardActions]"></ng-content>
</div>
<div>
  <ng-content ngProjectAs="[wmCardFooter]"></ng-content>
</div>
