<div class="col-md-9">
    <div style="width: 200px;height: 200px;">
        <img wmPicture
             picturesource.bind="picturesource"
             pictureaspect.bind="pictureaspect"
             width.bind="width"
             height.bind="height"
             encodeurl.bind="encodeurl"
             shape.bind="shape"
             hint.bind="hint"
        >
    </div>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Source
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="picturesource" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Picture Aspect
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="pictureaspect" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Shape
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="shape" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Width
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="width" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Height
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="height" />
        </div>
    </div>
</div>





