<div [ngClass]="['app-grid-layout', 'clearfix', class]"
     [ngStyle]="{
      'width':width,
      'height':height,
      'background-color': backgroundcolor,
      'background-image': backgroundimage ? 'url(' + backgroundimage + ')' : '',
      'background-repeat': backgroundrepeat,
      'background-position': backgroundposition,
      'background-size': backgroundsize,
      'background-attachment': backgroundattachment,
      'padding': padding}">
    <!-- Rows go here -->
    <ng-content select="wm-gridrow"></ng-content>
</div>
