<input class="form-control app-textbox"
       role="input"
       type="email"
       [(ngModel)]="datavalue"
       [ngModelOptions]="ngModelOptions"
       [readonly]="readonly"
       [required]="required"
       [disabled]="disabled"
       [maxlength]="maxchars"
       [pattern]="regexp"
       [attr.tabindex]="tabindex"
       [attr.placeholder]="placeholder"
       [attr.accesskey]="shortcutkey"
       [autofocus]="autofocus"
       (change)="handleChange($event)"
       email
       #input>