<ng-template #dialogTemplate>
  @if (showheader) {
    <div wmDialogHeader [closable]="closable"
      [iconclass]="iconclass"
      [iconurl]="iconurl"
      [iconwidth]="iconwidth"
      [iconheight]="iconheight"
      [iconmargin]="iconmargin"
      [heading]="title"
      [headinglevel]="headinglevel"
      [title]="title"
      [titleid]="titleId"
    ></div>
  }
  <div wmDialogBody>
    <div wmIframe encodeurl.bind="encodeurl" iframesrc.bind="url" height.bind="height" width.bind="width" hint.bind="hint"></div>
  </div>
  @if (showactions) {
    <div wmDialogFooter>
      <button (click)="onOk($event)" [attr.aria-label]="oktext" caption.bind="oktext" class="btn-primary ok-action"
      wmButton></button>
    </div>
  }
</ng-template>
