<ng-template #dialogTemplate>
    <div wmDialogHeader [closable]="closable"
         [iconclass]="iconclass"
         [iconurl]="iconurl"
         [iconwidth]="iconwidth"
         [iconheight]="iconheight"
         [iconmargin]="iconmargin"
         [heading]="title"
         [headinglevel]="headinglevel"
         *ngIf="showheader"
         [title]="title"
         [titleid]="titleId"
    ></div>
    <div wmDialogBody>
        <div wmIframe encodeurl.bind="encodeurl" iframesrc.bind="url" height.bind="height" width.bind="width" hint.bind="hint"></div>
    </div>
    <div wmDialogFooter *ngIf="showactions">
        <button (click)="onOk($event)" [attr.aria-label]="oktext" caption.bind="oktext" class="btn-primary ok-action"
                wmButton></button>
    </div>
</ng-template>
