<label [ngClass]="{'unchecked': !proxyModel, 'disabled': (disabled || readonly), 'required': (required && _caption)}">
    <input type="checkbox"
           #checkbox
           [attr.name]="name"
           [attr.aria-label]="arialabel"
           focus-target
           [(ngModel)]="proxyModel"
           [ngModelOptions]="{standalone: true}"
           [readonly]="readonly"
           [required]="required"
           [disabled]="disabled || readonly"
           [attr.accesskey]="shortcutkey"
           [tabindex]="tabindex"
           (blur)="invokeOnTouched($event)"
           (ngModelChange)="handleChange($event)">
    <span class="caption" [innerHtml]="_caption"></span>
    <img alt="Checkbox Image" aria-hidden="true" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="switch"/>
</label>
<input type="hidden" class="ng-hide model-holder" aria-hidden="true" tabindex="-1" [disabled]="disabled" [value]="proxyModel">
