<div class="col-md-9">
    <button wmButton caption.bind="caption" class.bind="class" badgevalue.bind="badge" iconclass.bind="iconclass"></button>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Caption
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="caption" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            class
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="class" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Badge
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="badge" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Icon
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="iconclass" />
        </div>
    </div>
</div>
