@if (title) {
  <div class="panel-heading">
    <h3 class="panel-title">
      <div class="pull-left"><i class="app-icon panel-icon {{iconclass}}" [class.ng-hide]="!iconclass"></i></div>
      <div class="heading" [innerHTML]="title"></div>
      @if (subheading) {
        <div class="description" [innerHTML]="subheading"></div>
      }
    </h3>
  </div>
}
<div class="app-chart-inner" [ngClass]="{'loading':isLoadInProgress, 'panel-body': title}">
  <svg></svg>
  @if (showContentLoadError && showNoDataMsg) {
    <div class="wm-content-info readonly-wrapper">
      <p class="wm-message" [title]="hintMsg" [ngClass]="{'error': invalidConfig}" [innerText]="errMsg"></p>
    </div>
  }
  <div wmSpinner show.bind="isLoadInProgress" caption.bind="loadingdatamsg"></div>
</div>
