<span class="app-slider-value pull-left" [attr.aria-valuemin]="minvalue" [textContent]="minvalue"></span>
<span class="app-slider-value pull-right" [attr.aria-valuemax]="maxvalue" [textContent]="maxvalue"></span>
<input class="range-input" aria-label="slider range" aria-orientation="horizontal"
       type="range" [title]="datavalue"
       [min]="minvalue"
       [max]="maxvalue"
       [step]="step"
       [(ngModel)]="datavalue"
       [disabled]="disabled"
       [attr.accesskey]="shortcutkey"
       [tabindex]="tabindex"
       (blur)="invokeOnTouched($event)"
       (ngModelChange)="handleChange($event)"/>
<div *ngIf="readonly || disabled" aria-readonly="true" class="readonly-wrapper"></div>