<span class="app-slider-value" aria-valuemin="0" [innerText]="minvalue"></span>
<span class="app-slider-value pull-right" aria-valuemax="100" [innerText]="maxvalue"></span>
<input class="range-input" aria-label="slider range" aria-orientation="horizontal"
       type="range" [title]="datavalue"
       [min]="minvalue" [max]="maxvalue"
       [step]="step"
       [(ngModel)]="datavalue"
       [disabled]="disable"
       [attr.accesskey]="shortcutkey"
       (change)="onChange($event)"/>
<div *ngIf="readonly || disabled" aria-readonly="true" class="readonly-wrapper"></div>