<div class="col-md-9">
    <wm-video
            muted.bind="muted"
            videopreload.bind="videopreload"
            controls.bind="controls"
            loop.bind="loop"
            autoplay.bind="autoplay"
            videoposter.bind="postersource"
            mp4format.bind="mp4videoUrl"
    >
    </wm-video>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Source
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="mp4videoUrl" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Muted
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="muted" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Video Preload
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="videopreload" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Controls
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="controls" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Loop
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="loop" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Autoplay
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="autoplay" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Poster Source
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="postersource" />
        </div>
    </div>
</div>
