<input class="form-control app-textbox" aria-label="Select color" aria-hashpopup="true" aria-expanded="false"
       [(colorPicker)]="datavalue"
       (colorPickerChange)="onChange($event);"
       [cpPosition]="'bottom'"
       [placeholder]="placeholder"
       [disabled]="readonly || disable"
       [required]="required"
       [tabindex]="tabindex"
       [value]="datavalue"
       [attr.accesskey]="shortcutkey">
<span class="input-group-addon colorpicker-container">
    <i class="colored-box" [ngStyle]="{backgroundColor: datavalue}">&nbsp;</i>
</span>