<!--Updated focus with mousedown event. IOS devices not allow update of option value after opening dropdown-->
<select #select
        focus-target
        [ngClass]="['app-select form-control', class]"
        [disabled]="disabled"
        [required]="required"
        [tabindex]="tabindex"
        [(ngModel)]="modelByKey"
        [ngModelOptions]="{standalone: true}"
        [multiple]="multiple"
        (change)="onSelectValueChange($event)"
        (mousedown)="checkForFloatingLabel($event)"
        (blur)="invokeOnTouched($event); checkForFloatingLabel($event)"
        [attr.name]="name"
        [attr.aria-label]="arialabel"
        [autofocus]="autofocus">

        <option selected
                value="undefined"
                [textContent]="placeholder"
                id="placeholderOption"
                [hidden]="!placeholder"></option>

    <ng-container *ngIf="groupby">
        <optgroup *ngFor="let groupObj of groupedData"
            [label]="groupObj.key">
            <option *ngFor="let item of groupObj.data;"
                [value]="item.key"
                [selected]="item.selected"
                [textContent]="item.label"
            ></option>
        </optgroup>
    </ng-container>

    <ng-container *ngIf="!groupby">
        <option *ngFor="let item of datasetItems"
            [value]="item.key"
            [selected]="item.selected"
            [textContent]="item.label"
        ></option>
    </ng-container>
</select>
