<input class="form-control app-textbox"
       role="input"
       [type]="type"
       [(ngModel)]="datavalue"
       [ngModelOptions]="ngModelOptions"
       [readonly]="readonly"
       [required]="required"
       [disabled]="disabled"
       [maxlength]="maxchars"
       [pattern]="regexp"
       [attr.tabindex]="tabindex"
       [attr.placeholder]="placeholder"
       [attr.accesskey]="shortcutkey"
       [autofocus]="autofocus"
       (ngModelChange)="handleChange($event)"
       (blur)="handleBlur($event)"
       [autocomplete]="autocomplete ? 'on' : 'off'"
       #input>