.wm-app app-custom-textfield .app-composite-widget .form-field-wrapper .form-control.with-leading-icon {
    padding-left: calc(calc(var(--wm-form-control-padding)*1.5) + var(--wm-icon-size-md));
}

.wm-app app-custom-textfield .app-composite-widget .form-field-wrapper .form-control.with-trailing-icon {
    padding-right: calc(calc(var(--wm-form-control-padding)*1.5) + var(--wm-icon-size-md));
}

.wm-app app-custom-textfield .app-composite-widget .form-field-wrapper .form-control.filled {
    --wm-form-control-background: var(--wm-color-surface-container-highest);
    border-width: 0 0 1px 0;
    border-radius: var(--wm-form-control-radius) var(--wm-form-control-radius) 0 0;
    padding-bottom: 0;
}

.wm-app app-custom-textfield .app-composite-widget .form-field-wrapper .form-control.filled:focus {
    box-shadow: inset 0 -2px 0 0 var(--wm-form-control-border-color-focus);
}

.wm-app app-custom-textfield .app-composite-widget .form-field-wrapper .form-control.filled.ng-touched.ng-invalid:focus {
    box-shadow: inset 0 -2px 0 0 var(--wm-form-control-border-color-error);
}

.wm-app app-custom-textfield .app-composite-widget .form-field-wrapper .btn {
    padding: 0;
    background: none;
    border: none;
    min-height: auto;
}

.wm-app app-custom-textfield .app-composite-widget .form-field-wrapper .btn .app-icon {
    font-size: var(--wm-icon-size-md);
}

.wm-app app-custom-textfield .app-composite-widget .form-field-wrapper .btn-leading-icon,.wm-app app-custom-textfield .app-composite-widget .form-field-wrapper .btn-trailing-icon {
    position: absolute;
    z-index: 1;
    top: calc(calc(var(--wm-form-control-height) - var(--wm-btn-icon-md-height) - var(--wm-btn-icon-md-margin) - var(--wm-btn-icon-md-margin)) / 2);
    left: 0;
}

.wm-app app-custom-textfield .app-composite-widget .form-field-wrapper .btn-trailing-icon {
    left: auto;
    right: 0;
}

.wm-app app-custom-textfield .app-composite-widget .help-wrapper {
    width: 100%;
    margin-top: 4px;
    padding: 0 var(--wm-form-control-padding);
}

.wm-app app-custom-textfield .app-composite-widget .help-wrapper .help-block {
    margin: 0;
    padding: 0;
}

.wm-app app-custom-textfield .app-composite-widget .help-wrapper .help-block.required:after {
    display: none;
}

.wm-app app-custom-textfield .app-composite-widget:has(.form-control.ng-touched.ng-invalid) .help-wrapper .help-block {
    --wm-help-block-color: var(--wm-color-error);
}

.wm-app app-custom-textfield .app-composite-widget.caption-floating:not(.float-active) .control-label.with-leading-icon {
    max-width: calc(100% - calc(calc(var(--wm-form-control-padding)*1.5) + var(--wm-icon-size-md)) - var(--wm-form-control-padding));
    left: calc(calc(var(--wm-form-control-padding)* 1.5) + var(--wm-icon-size-md));
}

.wm-app app-custom-textfield .app-composite-widget.caption-floating:not(.float-active) .control-label.with-trailing-icon {
    max-width: calc(100% - var(--wm-form-control-padding) - calc(calc(var(--wm-form-control-padding)*1.5) + var(--wm-icon-size-md)));
}

.wm-app app-custom-textfield .app-composite-widget.caption-floating:not(.float-active) .control-label.with-leading-icon.with-trailing-icon {
    max-width: calc(100% - calc(calc(var(--wm-form-control-padding)*1.5) + var(--wm-icon-size-md)) - calc(calc(var(--wm-form-control-padding)*1.5) + var(--wm-icon-size-md)));
}

.wm-app app-custom-textfield .app-composite-widget.caption-floating.float-active .control-label.filled {
    left: var(--wm-form-control-padding);
    top: calc(var(--wm-form-control-height)*0.15);
    padding: 0;
}

.wm-app app-custom-textfield .app-composite-widget.caption-floating.float-active .control-label.filled:before {
    background: none;
}

.wm-app app-custom-textfield .app-composite-widget.caption-floating.float-active .control-label.filled.with-leading-icon {
    left: calc(calc(var(--wm-form-control-padding)* 1.5) + var(--wm-icon-size-md));
    max-width: calc(100% - var(--wm-form-control-padding) - var(--wm-form-control-padding) - calc(calc(var(--wm-form-control-padding)* 2.5) + var(--wm-icon-size-md)));
}
