<section wmCustomWidget data-role="widget">
    <ng-container>
        <div wmComposite wmCaptionPosition name="composite" captionposition="floating" required="false">
            <label wmLabel #wm_label33="wmLabel" class="control-label" notag="true" name="labelCaption"
                caption.bind="props.label_text" conditionalclass.bind="props.style.toLowerCase()"></label>
            <div wmContainer partialContainer wmSmoothscroll="false" class="form-field-wrapper" name="container2">
                <button wmButton #wm_button8="wmButton"
                    [attr.aria-label]="wm_button8.arialabel || (wm_button8.badgevalue ? wm_button8.caption + ' ' + wm_button8.badgevalue : wm_button8.caption) || null"
                    class="btn-icon btn-leading-icon" caption type="button" name="buttonLeadingIcon"
                    iconclass.bind="props.leading_icon_class" show.bind="props.leading_icon" deferload="false"></button>
                <wm-input name="textField" updateon="default" placeholder.bind="props.placeholder_text"
                    conditionalclass.bind="props.style.toLowerCase()"
                    disabled.bind="props.state.toLowerCase() == &quot;disabled&quot;" datavalue.bind="props.input_text"
                    datavaluesource.bind required="false" ngModel></wm-input>
                <button wmButton #wm_button9="wmButton"
                    [attr.aria-label]="wm_button9.arialabel || (wm_button9.badgevalue ? wm_button9.caption + ' ' + wm_button9.badgevalue : wm_button9.caption) || null"
                    class="btn-icon btn-trailing-icon" caption type="button" name="buttonTrailingIcon"
                    iconclass.bind="props.trailing_icon_class" click.event="buttonTrailingIconClick($event, widget)"
                    show.bind="props.trailing_icon" deferload="false"></button>
            </div>
            <div wmContainer partialContainer wmSmoothscroll="false" class="help-wrapper"
                name="containerSupportingWrapper">
                <p wmLabel #wm_label34="wmLabel" class="p help-block" type="p" name="labelSupportingText"
                    caption.bind="props.supporting_text" show.bind="props.show_supporting_text"></p>
            </div>
        </div>
    </ng-container>
</section>