<div class="col-md-9">
    <wm-iframe iframesrc.bind="_iframesrc"
               encodeurl.bind="_encodeurl"
               width.bind="width"
               height.bind="height"></wm-iframe>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Source
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="_iframesrc" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Encode URL
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="_encodeurl" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Width
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="width" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Height
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="height" />
        </div>
    </div>
</div>






