<div class="col-md-9">
    <div wmNavbar>
        <ul wmNav name.bind="'leftTopLinks'" type.bind="'navbar'" class="navbar-left">
            <li wmNavItem name.bind="'list_home'">
                <a wmAnchor caption.bind="'Home'" name.bind="'homeLink'" iconclass.bind="'wi wi-home'"></a>
            </li>
            <li wmNavItem name.bind="'list_services'">
                <a wmAnchor caption.bind="'Order'" name.bind="'orderLink'" iconclass.bind="'wi wi-list'"></a>
            </li>
        </ul>
        <ul wmNav name.bind="'rightTopLinks'" type.bind="'navbar'" class="navbar-right">
            <li wmNavItem name.bind="'list_help'">
                <a wmAnchor caption.bind="'Help'" name.bind="'helpLink'" iconclass.bind="'wi wi-help-outline'"></a>
            </li>
            <li wmNavItem name.bind="'list_logout'">
                <a wmAnchor caption.bind="'Logout'" name.bind="'logoutLink'" iconclass.bind="'wi wi-sign-out'"></a>
            </li>
        </ul>
    </div>

    Another Nav widget
    <br>
    <ul wmNav dataset.bind="_navDataset" type.bind="'pills'" autoclose.bind="'outsideClick'"></ul>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
</div>