<div class="col-md-9">
    <div wmLayoutGrid width.bind="width" height.bind="height" backgroundcolor.bind="backgroundcolor">
        <div wmLayoutGridRow>
            <div wmLayoutGridColumn columnwidth.bind="6" height.bind="colHeight">col-sm-6</div>
            <div wmLayoutGridColumn columnwidth.bind="6" height.bind="colHeight">col-sm-6</div>
        </div>
        <div wmLayoutGridRow>
            <div wmLayoutGridColumn columnwidth.bind="6"  height.bind="colHeight">col-sm-6</div>
            <div wmLayoutGridColumn columnwidth.bind="6"  height.bind="colHeight">col-sm-6</div>
        </div>
    </div>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Width
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="width" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Height
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="height" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Column Height
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="colHeight" />
        </div>
    </div>
</div>
