<div class="col-md-9">
    <wm-anchor [caption]="caption" [hyperlink]="hyperlink" [target]="target" [iconclass]="iconclass"></wm-anchor>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Caption
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="caption" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Hyperlink
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="hyperlink" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Target
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="target" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Icon
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="hyperlink" />
        </div>
    </div>
</div>