@if (isClosable) {
  <button (click)="closeDialog();"
    [attr.aria-label]="'Close ' + (title ? title : '') + ' dialog'" class="app-dialog-close close" title="{{closehint||dialogRef.appLocale.LABEL_CLOSE}}" >
    <span class="app-icon wi wi-clear" aria-hidden="true"></span>
  </button>
}

@switch (headinglevel) {
  @case ('h1') {
    <h1 class="app-dialog-title modal-title">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </h1>
  }
  @case ('h2') {
    <h2 class="app-dialog-title modal-title">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </h2>
  }
  @case ('h3') {
    <h3 class="app-dialog-title modal-title">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </h3>
  }
  @case ('h4') {
    <h4 class="app-dialog-title modal-title">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </h4>
  }
  @case ('h5') {
    <h5 class="app-dialog-title modal-title">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </h5>
  }
  @case ('h6') {
    <h6 class="app-dialog-title modal-title">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </h6>
  }
  @default {
    <h4 class="app-dialog-title modal-title">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </h4>
  }
}

<ng-template #headerTemplate>
  @if (iconclass && !iconurl) {
    <i [ngClass]="iconclass" [ngStyle]="{width: iconwidth, height: iconheight, margin: iconmargin}"></i>
  }
  @if (iconurl) {
    <img data-identifier="img" [src]="iconurl | image" [ngStyle]="{width: iconwidth, height: iconheight, margin: iconmargin}"/>
  }
  <span class="dialog-heading" [textContent]="heading" [id]="titleid"></span>
  @if (subheading) {
    <span class="dialog-sub-heading" [title]="subheading" [textContent]="subheading"></span>
  }
</ng-template>
