<div class="app-fileupload" init-widget>
    <!-- drag and drop files UI in web -->
    <div class="app-multi-file-upload" *ngIf="!_isMobileType && multiple">
        <div class="drop-box" (dragover)="dragOverHandler($event)" (drop)="onFileDrop($event)" >
            <i class="{{iconclass}}"></i>
            <div class="message">
                <label [innerHtml]="caption" class="caption"></label>
                <form class="form-horizontal" name="{{formName}}">
                    <input class="file-input" aria-label="Select File" type="file" name="files" *ngIf="multiple" [disabled]="disabled" [accept]="chooseFilter" (click)="onFileElemClick()" (change)="onFileSelect($event, $event.target.files)" multiple >
                    <a href="javascript:void(0);" class="app-anchor">{{fileUploadMessage}}</a>
                </form>
            </div>
        </div>
    </div>
    <!-- single file upload in web and single , multiple file upload UI in mobile runmode -->
    <div class="app-single-file-upload" *ngIf="!_isCordova && (!multiple || _isMobileType)">
        <div class="app-button-wrapper">
            <form class="form-horizontal" name="{{formName}}">
                <!-- support for file upload in Mobileapp in its runmode (Web) -->
                <input class="file-input" aria-label="Select files" type="file" name="files" *ngIf="multiple" [disabled]="disabled" [accept]="chooseFilter" (click)="onFileElemClick()" (change)="onFileSelect($event, $event.target.files)" multiple>
                <input class="file-input" aria-label="Select Files" type="file" name="files" *ngIf="!multiple" [disabled]="disabled" [accept]="chooseFilter" (click)="onFileElemClick()" (change)="onFileSelect($event, $event.target.files)" >
                <button focus-target class="app-button btn btn-default">
                    <i class="{{iconclass}}" aria-hidden="true"></i>
                    <span class="caption">{{caption}}</span>
                </button>
            </form>
        </div>
        <div class="app-files-upload-status single"></div>
    </div>
    <!-- support for file upload in Mobile Application (device) -->
    <button *ngIf="_isCordova" focus-target class="app-button btn btn-default" (click)="openFileSelector()" [disabled]="disabled">
        <i class="{{iconclass}}"></i>
        <span class="caption">{{caption}}</span>
    </button>
    <!-- list of selectedfiles UI -->
    <ul class="list-group file-upload" [ngStyle]="{height: filelistheight, overflow: overflow}" *ngIf="selectedFiles.length > 0" >
        <div *ngFor="let ft of selectedFiles">
            <li class="list-group-item file-upload-status" *ngIf="ft.status !== 'abort'">
                <div class="media upload-file-list">
                    <div class="media-left media-middle file-icon {{getFileExtension(ft.name) | fileIconClass}}" title="{{getFileExtension(ft.name)}}"></div>
                    <div class="media-body media-middle file-details">
                        <p class="uploaddetails">
                            <label class="upload-title">{{ft.name}}</label><br/>
                            <span class="filesize" *ngIf="ft.fileLength  !== 0">{{ft.size | filesize:0}}</span>
                        </p>
                        <div class="progress" *ngIf="ft.status === 'onProgress'">
                            <div class="progress-bar progress-bar-striped progress-bar-info" [ngStyle]="{width: (ft.progress +'%')}"></div>
                        </div>
                    </div>
                    <div class="media-right media-middle" *ngIf="ft.status === 'onProgress' || ft.status === 'queued'">
                        <a class="btn btn-transparent file-upload-stop" type="button" (click)="abortFileUpload(ft)">
                            <i class="wi wi-close"></i>
                        </a>
                    </div>
                    <div class="media-right media-middle"  *ngIf="ft.status === 'success'">
                        <span class="status-icon {{ft.status | stateClass }}"></span>
                    </div>
                </div>
            </li>
        </div>
    </ul>
    <!-- list of selectedfolders UI to show the error in title -->
    <ul class="list-group file-upload" [ngStyle]="{height: filelistheight, overflow: overflow}" title="{{this.appLocale.MESSAGE_FOLDER_UPLOADS_NOT_ALLOWED}}" *ngIf="selectedFolders.length > 0" >
        <li *ngFor="let ft of selectedFolders" class="list-group-item file-upload-status">
            <div class="media upload-file-list">
                <div class="media-left media-middle file-icon fa fa-folder-o"></div>
                <div class="media-body media-middle file-details">
                    <p class="uploaddetails">
                        <label class="upload-title">{{ft.name}}</label><br/>
                    </p>
                </div>
                <div class="media-right media-middle" >
                    <span class="status-icon  wi wi-cancel text-danger"></span>
                </div>
            </div>
        </li>
    </ul>
</div>
