<div class="app-fileupload" init-widget>
  <!-- drag and drop files UI in web -->
  @if (!_isMobileType && multiple) {
    <div class="app-multi-file-upload">
      <div id="dropzone" class="drop-box" (click)="triggerFileSelect()" [ngClass]="{'highlight-drop-box' : highlightDropArea}" (dragover)="dragOverHandler($event);" (drop)="onFileDrop($event);">
        <i class="{{iconclass}}"></i>
        <div class="message">
          <label [innerHtml]="caption" class="upload-label"></label>
          <form class="form-horizontal" name="{{formName}}">
            @if (multiple) {
              <input class="file-input" [attr.aria-label]="hint || 'File selection field'" type="file" name="files" [disabled]="disabled" [accept]="chooseFilter" (click)="onFileElemClick($event)" (change)="onFileSelect($event, $event.target.files)" multiple >
            }
            <a class="app-anchor upload-label" href="javascript:void(0);">{{ fileUploadMessage }}</a>
          </form>
          @if (chooseFilter) {
            <label [innerHtml]="chooseFilter + ' only '" class="upload-extensions"></label>
          }
          @if (chooseFilter && maxfilesize) {
            <span class="upload-extensions"> . </span>
          }
          @if (maxfilesize) {
            <label [innerHtml]="maxfilesize + 'MB max'" class="upload-extensions"></label>
          }
        </div>
      </div>
    </div>
  }
  <!-- single file upload in web and single , multiple file upload UI in mobile runmode -->
  @if (!_isCordova && (!multiple || _isMobileType)) {
    <div class="app-single-file-upload">
      <div class="app-button-wrapper">
        <form class="form-horizontal" name="{{formName}}">
          <!-- support for file upload in Mobileapp in its runmode (Web) -->
          @if (multiple) {
            <input (change)="onFileSelect($event, $event.target.files)" (click)="onFileElemClick($event)"
              [accept]="chooseFilter" [attr.aria-label]="arialabel || 'File selection field'" [disabled]="disabled" class="file-input"
              multiple name="files" type="file">
          }
          @if (!multiple) {
            <input (change)="onFileSelect($event, $event.target.files)" (click)="onFileElemClick($event)"
              [accept]="chooseFilter" [attr.aria-label]="arialabel || 'File selection field'" [disabled]="disabled" class="file-input"
              name="files" type="file">
          }
          <button id="dropzone" focus-target class="app-button btn btn-default" [ngClass]="{'highlight-drop-box' : highlightDropArea}">
            <i class="{{iconclass}}" aria-hidden="true"></i>
            <span class="caption" [innerHTML]="caption"></span>
          </button>
        </form>
      </div>
      <div class="app-files-upload-status single"></div>
    </div>
  }
  <!-- support for file upload in Mobile Application (device) -->
  @if (_isCordova) {
    <button focus-target class="app-button btn btn-default" (click)="openFileSelector()" [disabled]="disabled">
      <i class="{{iconclass}}"></i>
      <span class="caption" [innerHTML]="caption"></span>
    </button>
  }
  <!-- list of selectedfiles UI -->
  @if (uploadedFiles.length > 0) {
    <ul class="list-group file-upload" [ngStyle]="{height: filelistheight, overflow: overflow}"
      tabindex="0">
      @for (ft of uploadedFiles; track ft) {
        @if (ft.status !== 'abort') {
          <li class="list-group-item file-upload-status" tabindex="0">
            <div class="media upload-file-list">
              <div class="media-left media-middle file-icon {{getFileExtension(ft.name) | fileIconClass}}" title="{{getFileExtension(ft.name)}}"></div>
              <div class="media-body media-middle file-details">
                <p class="uploaddetails col-md-3">
                  <span class="upload-title">{{ ft.storageName || ft.name }}</span>
                  @if (ft.status === 'success' && (!datasource || (datasource && ft._response?.success))) {
                    <span
                    class="status-icon {{ft.status | stateClass }}"></span>
                  }
                  <br/>
                  @if (ft.fileLength  !== 0) {
                    <span class="filesize">{{ft.size | filesize:0}}</span>
                  }
                  @if (ft.status === 'error') {
                    <span
                      class="status-icon {{ft.status | stateClass }}"
                    title="{{ft.errMsg || this.appLocale.MESSAGE_FILE_UPLOAD_FAILED}}"></span>
                  }
                  @if (ft.status === 'error') {
                    <span class="error-message">Upload Failed</span>
                  }
                </p>
                @if (ft.status === 'onProgress' || showprogressbar) {
                  <div
                    class="progress col-md-7 upload-progress">
                    <div [ngClass]="ft.status === 'error' ? 'progress-bar-danger' : 'progress-bar-info'"
                      [ngStyle]="{width: (ft.progress +'%')}"
                    class="progress-bar progress-bar-striped"></div>
                  </div>
                }
                @if ((ft.status === 'onProgress' || showprogressbar && showprogressbarpercentage) && ft.progress ) {
                  <div
                    class="col-md-1 upload-progress-percentage">{{ ft.progress + '%' }}
                  </div>
                }
              </div>
              @if (ft.status === 'onProgress' || ft.status === 'queued') {
                <div class="media-right media-middle">
                  <a href="javascript:void(0)" class="btn btn-transparent file-upload-stop" type="button"
                    (click)="abortFileUpload(ft)">
                    <i class="wi wi-close"></i>
                  </a>
                </div>
              }
              <div class="media-right media-middle">
                @if (cleariconclass !== '' && ft.status !== 'onProgress') {
                  <a href="javascript:void(0)" (click)="clear(ft)"
                    class="btn btn-transparent btn-default status-icon" title="{{cleariconhint}}" type="button">
                    <i class="{{cleariconclass}}"></i>
                  </a>
                }
              </div>
              @if (ft.status === 'success' && (!datasource || (datasource && ft._response?.success))) {
                <div class="media-right media-middle">
                  <a href="javascript:void(0)" (click)="onFileDelete($event, ft)"
                    class="btn btn-transparent btn-default status-icon" title="{{deleteiconhint}}" type="button">
                    <i class="wi wi-delete"></i>
                  </a>
                </div>
              }
            </div>
          </li>
        }
      }
    </ul>
  }
  <!-- list of selectedfolders UI to show the error in title -->
  @if (selectedFolders.length > 0) {
    <ul class="list-group file-upload" [ngStyle]="{height: filelistheight, overflow: overflow}" title="{{this.appLocale.MESSAGE_FOLDER_UPLOADS_NOT_ALLOWED}}" >
      @for (ft of selectedFolders; track ft) {
        <li class="list-group-item file-upload-status">
          <div class="media upload-file-list">
            <div class="media-left media-middle file-icon fa fa-folder-o"></div>
            <div class="media-body media-middle file-details">
              <p class="uploaddetails">
                <label class="upload-title">{{ft.name}}</label><br/>
              </p>
            </div>
            <div class="media-right media-middle" >
              <span class="status-icon  wi wi-cancel text-danger"></span>
            </div>
          </div>
        </li>
      }
    </ul>
  }
</div>
