<ng-template #dialogTemplate>
    <div wmDialogHeader [closable]="closable"
         [iconclass]="iconclass"
         [iconurl]="iconurl"
         [iconwidth]="iconwidth"
         [iconheight]="iconheight"
         [iconmargin]="iconmargin"
         [heading]="title"
         [headinglevel]="headinglevel"
         [title]="title"
         [titleid]="titleId"></div>
    <div wmDialogBody>
        <p class="app-dialog-message {{messageclass}}" [attr.aria-describedby]="message">{{message}}</p>
    </div>
    <div wmDialogFooter>
        <button (click)="onCancel($event)" [attr.aria-label]="canceltext" caption.bind="canceltext" class="btn-default cancel-action"
                wmButton></button>
        <button (click)="onOk($event)" [attr.aria-label]="oktext" caption.bind="oktext" class="btn-primary ok-action"
                wmButton></button>
    </div>
</ng-template>
