<ng-template #menuRef let-item="item" let-index="index">
    <div wmMenu dropdown type="anchor" autoclose.bind="autoclose" iconclass.bind="item.icon" autoopen.bind="autoopen"
         caption.bind="item.label" dataset.bind="item.children" select.event="onMenuItemSelect($event, widget, $item)"></div>
</ng-template>

<li class="app-nav-item {{item.class}}" *ngFor="let item of nodes; let index = index;" #liRef [ngClass]="{active: item.link === '#/' + activePageName}">
    <a class="app-anchor" [wmNavigationControl]="item.link" [disableMenuContext]="disableMenuContext" *ngIf="!item.children.length" (click)="onNavSelect($event, item, liRef)">
        <i class="app-nav-icon" [ngClass]="item.icon"></i>
        <span class="anchor-caption" [textContent]="item.label"></span>
        <span class="badge" [textContent]="item.badge"></span>
    </a>
    <ng-container [ngTemplateOutlet]="menuRef" [ngTemplateOutletContext]="{item: item, index:index}" *ngIf="item.children.length"></ng-container>
</li>

<ng-content *ngIf="!nodes.length" select="[wmNavItem]"></ng-content>