<ng-template #menuRef let-node="node" let-index="index">
    <div wmMenu dropdown [isOpen]="isOpen" [autoClose]="autoclose !== 'disabled'" type="anchor" autoclose.bind="autoclose"
         caption.bind="node.label" dataset.bind="node.children" [isDataComputed]="true"></div>
</ng-template>
<li class="app-nav-item {{node.class}}" *ngFor="let node of nodes; let index = index;" #nodeRef>
    <a class="app-anchor" [href]="node.link || 'javascript:void(0)'" *ngIf="!node.children.length" (click)="onNavSelect($event, node, nodeRef)">
        <i class="app-nav-icon" [ngClass]="node.icon"></i>
        <span class="anchor-caption" [textContent]="node.label"></span>
        <span class="badge" [textContent]="node.badge"></span>
    </a>
    <ng-container [ngTemplateOutlet]="menuRef" [ngTemplateOutletContext]="{node:node, index:index}" *ngIf="node.children.length"></ng-container>
</li>
<ng-content *ngIf="!nodes.length" select="[wmNavItem]"></ng-content>