<input class="form-control app-number"
       focus-target
       [attr.name]="name"
       role="input"
       type="text"
       ngModel
       [readonly]="readonly"
       [disabled]="disabled"
       [pattern]="regexp"
       [attr.tabindex]="tabindex"
       [attr.placeholder]="placeholder"
       [attr.accesskey]="shortcutkey"
       [autofocus]="autofocus"
       (ngModelChange)="datavalue=$event"
       (blur)="handleBlur($event)"
       [ngModelOptions]="{updateOn: 'blur'}"
       [required]="required"
       #input>