<div class="col-md-9">
    <wm-colorpicker
            datavalue.bind="datavalue"
            required.bind="required"
            show.bind="show"
            readonly.bind="readonly"
            disable.bind="disable"
            hint.bind="hint"
            tabindex.bind="tabindex"
            class.bind="class"
            shortcutkey.bind="shortcutKey"
    #colorpicker></wm-colorpicker>
</div>
{{colorpicker.datavalue}}
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Datavalue
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="datavalue" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Hint
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="hint" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Shortcut Key
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="shortcutKey" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-xs-4">
            Show
        </div>
        <div class="property-control col-xs-8">
            <input type="checkbox" [(ngModel)]="show" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-xs-4">
            Disable
        </div>
        <div class="property-control col-xs-8">
            <input type="checkbox" [(ngModel)]="disable" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-xs-4">
            Required
        </div>
        <div class="property-control col-xs-8">
            <input type="checkbox" [(ngModel)]="required" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-xs-4">
            Read Only
        </div>
        <div class="property-control col-xs-8">
            <input type="checkbox" [(ngModel)]="readonly" />
        </div>
    </div>
</div>
