<div class="col-md-9">
    <div wmTable
              name="myTable"
              title.bind="_title" subheading.bind="_subheading" iconclass.bind="_iconclass" showheader.bind="_showheader"
              multiselect.bind="_multiselect" radioselect.bind="_radioselect" showrowindex.bind="_showrowindex"
              gridclass="table-bordered table-striped table-hover"
              filtermode="search"
              navigation="Basic"
              enablesort.bind="_enablesort"
              enablecolumnselection.bind="_enablecolumnselection"
              gridfirstrowselect.bind="_gridfirstrowselect"
              showrecordcount.bind="_showrecordcount"
              navigationalign.bind="_navigationalign"
              dataset.bind="_dataset">
        <div wmTableColumnGroup name="group" caption="User Details">
            <div wmTableColumn binding="userId" caption="User Id" primary-key="true" edit-widget-type="number" type="integer" generator="identity" readonly="true" show="true"></div>
            <div wmTableColumnGroup name="group1" caption="Login Details">
                <div wmTableColumn binding="username" caption="Username" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></div>
                <div wmTableColumn binding="password" caption="Password" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></div>
            </div>
        </div>
        <div wmTableColumn binding="role" caption="Role" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></div>
        <div wmTableColumn binding="tenantId" caption="Tenant Id" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></div>
        <div wmTableRowAction key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></div>
        <div wmTableRowAction key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></div>
        <div wmTableColumn binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></div>
    </div>
    <!--<div>-->
        <!--<span>Selected Item:</span>-->
        <!--{{myTableWidget.selecteditem | json}}-->
    <!--</div>-->
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Title
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="_title"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Subheading
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="_subheading"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Show header
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="_showheader"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Multiselect
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="_multiselect"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Radio column
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="_radioselect"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Show row index
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="_showrowindex"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Enable sort
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="_enablesort"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Enable column selection
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="_enablecolumnselection"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Select first row
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="_gridfirstrowselect"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Show record count
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="_showrecordcount"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Navigation Align
        </div>
        <div class="property-control col-md-8">
            <select [(ngModel)]="_navigationalign">
                <option *ngFor="let align of navAligns" [value]="align">{{align}}</option>
            </select>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            iconclass
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="_iconclass"/>
        </div>
    </div>
</div>
