<input class="form-control app-textbox"
       focus-target
       role="input"
       type="number"
       [attr.name]="name"
       [(ngModel)]="datavalue"
       [readonly]="readonly"
       [required]="required"
       [disabled]="disabled"
       [maxlength]="maxchars"
       [min]="minvalue"
       [max]="maxvalue"
       [step]="step"
       [attr.tabindex]="tabindex"
       [attr.placeholder]="placeholder"
       [attr.accesskey]="shortcutkey"
       [autofocus]="autofocus"
       (blur)="handleBlur($event)"
       (ngModelChange)="handleChange($event)"
       [autocomplete]="autocomplete ? 'on' : 'off'"
       #input>