<div class="col-md-9">
    <form ngNativeValidate>
        <input
                wmText
                required.bind="required"
                disabled.bind="disabled"
                readonly.bind="readonly"
                width.bind="width"
                height.bind="height"
                hint.bind="hint"
                placeholder.bind="placeholder"
                tabindex.bind="tabindex"
                show.bind="show"
                type.bind="type"
                maxchars.bind="maxchars"
                minvalue.bind="minvalue"
                maxvalue.bind="maxvalue"
                regexp.bind="regexp"
                step.bind="step"
                datavalue.bind="datavalue"
                ngModel
                name="myText">
        <button type="submit" class="btn">Submit</button>
    </form>
    <div>
        {{myTextWidget.datavalue}}
    </div>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Datavalue
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="datavalue"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Type
        </div>
        <div class="property-control col-md-8">
            <select [(ngModel)]="type">
                <option *ngFor="let type of types" value="{{type.key}}">{{type.value}}</option>
            </select>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Hint
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="hint"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Placeholder
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="placeholder"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Width
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="width"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Height
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="height"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Show
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="show"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Max chars
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="maxchars"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Min value
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="minvalue"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Max value
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="maxvalue"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Step
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="step"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
           Regex
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="regexp"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Required
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="required"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Disabled
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="disabled"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Readonly
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="readonly"/>
        </div>
    </div>
</div>

