<div class="panel-heading" *ngIf="title || subheading || iconclass || exportOptions.length || _actions.header.length">
    <h3 class="panel-title">
        <div class="pull-left">
            <i class="app-icon panel-icon {{iconclass}}" *ngIf="iconclass"></i>
        </div>
        <div class="pull-left">
            <div class="heading" [textContent]="title"></div>
            <div class="description" [textContent]="subheading"></div>
        </div>
        <div class="panel-actions app-datagrid-actions" *ngIf="exportOptions.length || _actions.header.length">
            <ng-container *ngFor="let btn of _actions.header" [ngTemplateOutlet]="buttonRef" [ngTemplateOutletContext]="{btn:btn}">
            </ng-container>
            <!--<div wmMenu caption="Export" *ngIf="exportOptions.length"-->
                <!--dataset.bind="exportOptions" select.event="export($item)" menuposition="down,left"></div>-->
        </div>
    </h3>
</div>
<div class="app-datagrid" #datagridElement></div>
<div class="panel-footer clearfix" [hidden]="!shownavigation && !_actions.footer.length">
    <div class="app-datagrid-paginator" [hidden]="!dataNavigator?.dataSize || !shownavigation">
        <div #pagination></div>
        <nav wmPagination show.bind="shownavigation" navigationalign.bind="navigationalign"
             navigationsize.bind="navigationSize"
             navigation.bind="navControls" showrecordcount.bind="showrecordcount" maxsize.bind="maxsize"
             boundarylinks.bind="boundarylinks"
             forceellipses.bind="forceellipses" directionlinks.bind="directionlinks"></nav>
    </div>
    <div class="app-datagrid-actions" *ngIf="_actions.footer.length">
        <ng-container *ngFor="let btn of _actions.footer" [ngTemplateOutlet]="buttonRef" [ngTemplateOutletContext]="{btn:btn}">
        </ng-container>
    </div>
</div>

<ng-template #buttonRef let-btn="btn">
    <button wmButton caption.bind="btn.displayName" show.bind="btn.show" class.bind="btn.class"  iconclass.bind="btn.iconclass" (click)="callEvent(btn.action)"
            [ngClass]="{'btn-sm': spacing === 'condensed', 'disabled-new': btn.key === 'addNewRow' && (isGridEditMode || isLoading)}"
            type="button" shortcutkey.bind="btn.shortcutkey" tabindex.bind="btn.tabindex" hint.bind="btn.title" attr.disabled.bind="btn.disabled"></button>
</ng-template>


<div #rowActionsContainer>

</div>

<ng-template #rowActions>
    <span class="row__actions">
        <button type="button" data-action-key="updaterow"
                class="row-action row-action-button app-button btn btn-transparent edit edit-row-button "
                title="Edit" ng-disabled="false"
                (click)="editRow()">
            <i class="app-icon wi wi-pencil"></i>
        </button>
        <button type="button" class="save row-action-button btn app-button btn-transparent save-edit-row-button hidden"
                title="Save">
            <i class="wi wi-done"></i>
        </button>
        <button type="button"
                class="cancel row-action-button btn app-button btn-transparent cancel-edit-row-button hidden"
                title="Cancel">
            <i class="wi wi-cancel"></i>
        </button>
        <button type="button" data-action-key="deleterow"
                class="row-action row-action-button app-button btn btn-transparent delete delete-row-button "
                title="Delete" ng-disabled="false"  (click)="deleteRow()">
            <i class="app-icon wi wi-trash"></i>
        </button>

          <!--<button *ngFor="let action of rowActions;" type="button"-->
                  <!--class="row-action row-action-button app-button btn {{action.class}}"-->
                  <!--[ngClass]="{'edit edit-row-button': action.action.indexOf('editRow()') !== -1, 'delete delete-row-button': action.action.indexOf('deleteRow()') !== -1}"-->
                  <!--[hidden]="!action.show"-->
                  <!--[tabindex]="action.tabindex"-->
                  <!--[title]="action.title" [disabled]="action.disabled">-->
            <!--<i class="app-icon {{action.iconclass}}"></i>-->
            <!--<span class="btn-caption" *ngIf="action.displayName">{{action.displayName}}</span>-->
        <!--</button>-->
    </span>
</ng-template>
