<div class="col-md-9">
    <div wmSearch searchkey.bind="searchkey"
               dataset.bind="dataset"
               displayimagesrc.bind="displayimagesrc"
               datafield.bind="datafield"
               orderby.bind="orderby"
               displaylabel.bind="displaylabel"
               datavalue.bind="datavalue" #wmSearch></div><br><br>

    Result: {{wmSearch.result | json}} <br><br>

    datavalue: {{wmSearch.datavalue | json}} <br><br>

    query: {{wmSearch.query}}

</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            <label class="app-label control-label">Datavalue</label>
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="datavalue" class="app-textbox form-control"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            <label class="app-label control-label">Search Key</label>
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="searchkey" class="app-textbox form-control"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            <label class="app-label control-label">Display Image source</label>
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="displayimagesrc" class="app-textbox form-control"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            <label class="app-label control-label">Datafield</label>
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="datafield" class="app-textbox form-control"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            <label class="app-label control-label">Display label</label>
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="displaylabel" class="app-textbox form-control"/>
        </div>
    </div>
</div>






