<nav [ngClass]="['navbar navbar-default app-navbar', class]" data-element-type="wmNavbar" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="btn-transparent navbar-toggle collapsed" data-toggle="collapse" (click)="toggleCollapse()">
                <span class="sr-only">Toggle navigation</span>
                <i [ngClass]="menuiconclass"></i>
            </button>
            <a class="navbar-brand" href="#/" *ngIf="title || imagesrc">
                <img data-identifier="img" class="brand-image" [alt]="title" height="20" *ngIf="imgsrc" [src]="imagesrc"/>
                <span class="title" [textContent]="title"></span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse-content" partial-container-target>
            <ng-content></ng-content>
        </div>
    </div>
</nav>