<div class="col-md-9">
  <wm-rating
    [name]="'rating1'"
    [maxvalue]="maxvalue"
    [datavalue]="datavalue"
    [iconsize]="iconsize"
    [dataset]="dataset"
    [datafield]="datafield"
    [displayfield]="displayfield"
    [width]="width"
    [showcaptions]="true"
  >
  </wm-rating>
</div>
<div class="col-md-3 properties">
  <h4 class="property-header">Properties</h4>
  <hr>
  <div class="property row">
    <div class="property-text col-md-4">
      Width
    </div>
    <div class="property-control col-md-8">
      <input type="text" [(ngModel)]="width" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Max Value
    </div>
    <div class="property-control col-md-8">
      <input type="number" [(ngModel)]="maxvalue" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Data Value
    </div>
    <div class="property-control col-md-8">
      <input type="number" [(ngModel)]="datavalue" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      iconsize
    </div>
    <div class="property-control col-md-8">
      <input type="number" [(ngModel)]="iconsize" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Data Value
    </div>
    <div class="property-control col-md-8">
      <input type="text" [(ngModel)]="datafield" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Display Value
    </div>
    <div class="property-control col-md-8">
      <input type="text" [(ngModel)]="displayfield" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Color
    </div>
    <div class="property-control col-md-8">
      <input type="text" [(ngModel)]="color" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Show
    </div>
    <div class="property-control col-md-8">
      <input type="checkbox" [(ngModel)]="show" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Readonly
    </div>
    <div class="property-control col-md-8">
      <input type="checkbox" [(ngModel)]="readonly" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Datavalue
    </div>
    <div class="property-control col-md-8">
      <input type="text" [(ngModel)]="datavalue" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Checked Value
    </div>
    <div class="property-control col-md-8">
      <input type="text" [(ngModel)]="checkedvalue" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Unchecked Value
    </div>
    <div class="property-control col-md-8">
      <input type="text" [(ngModel)]="uncheckedvalue" />
    </div>
  </div>
</div>



