<div class="col-md-9">
  <div wmRating
    name.bind="'rating1'"
    maxvalue.bind="maxvalue"
    datavalue.bind="datavalue"
    iconsize.bind="iconsize"
    iconcolor.bind="iconcolor"
    dataset.bind="dataset"
    datafield.bind="datafield"
    displayfield.bind="displayfield"
    width.bind="width"
    showcaptions.bind="showcaptions"
    show.bind="show"
    readonly.bind="readonly"
    #rating>
  </div>
    {{rating.datavalue}}
</div>
<div class="col-md-3 properties">
  <h4 class="property-header">Properties</h4>
  <hr>
  <div class="property row">
    <div class="property-text col-md-4">
      Width
    </div>
    <div class="property-control col-md-8">
      <input type="text" [(ngModel)]="width" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Maxvalue
    </div>
    <div class="property-control col-md-8">
      <input type="number" [(ngModel)]="maxvalue" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Dataset
    </div>
    <div class="property-control col-md-8">
        <textarea>{{dataset | json}}</textarea>
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Datavalue
    </div>
    <div class="property-control col-md-8">
      <input type="text" [(ngModel)]="datavalue" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Icon size
    </div>
    <div class="property-control col-md-8">
      <input type="text" [(ngModel)]="iconsize" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Icon color
    </div>
    <div class="property-control col-md-8">
      <input type="text" [(ngModel)]="iconcolor" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Datafield
    </div>
    <div class="property-control col-md-8">
      <input type="text" [(ngModel)]="datafield" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Displayfield
    </div>
    <div class="property-control col-md-8">
      <input type="text" [(ngModel)]="displayfield" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Show
    </div>
    <div class="property-control col-md-8">
      <input type="checkbox" [(ngModel)]="show" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Show Captions
    </div>
    <div class="property-control col-md-8">
      <input type="checkbox" [(ngModel)]="showcaptions" />
    </div>
  </div>
  <div class="property row">
    <div class="property-text col-md-4">
      Readonly
    </div>
    <div class="property-control col-md-8">
      <input type="checkbox" [(ngModel)]="readonly" />
    </div>
  </div>
</div>



