<a href="javascript:void(0);" [title]="item.label" [wmNavigationControl]="item.link" [disableMenuContext]="menuRef.disableMenuContext || !!item.action">
  @if (item.children.length) {
    <span class="pull-right fa caret {{menualign}}"></span>
  }
  <i class="app-icon {{item.icon}}"></i>
  <span class="anchor-caption">{{item.label}}</span>
  @if (item.badge) {
    <span class="badge pull-right" [textContent]="item.badge"></span>
  }
</a>
@if (item.children.length) {
  <ul wmMenuDropdown [items]="item.children"></ul>
}