<div class="col-md-9">
    <wm-datetime [datavalue]="datavalue"
                 [mindate]="mindate"
                 [maxdate]="maxdate"
                 [disabled]="disabled"
                 [showweeks]="showweeks"
                 [onChange]="onModelChange"
                 [datepattern]="datepattern"
                 [outputformat]="outputformat"
                 [show]="show"
                 [hourstep]="hourstep"
                 [minutestep]="minutestep"
                 [showseconds]="showseconds"
                 [ismeridian]="ismeridian"
                 #wmDate></wm-datetime>
    <div class="row clearfix">
        <div class="col-sm-1">Datavalue:</div>
        <div class="col-sm-11">{{wmDate.datavalue}}</div>
    </div>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Data value
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="datavalue" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Min date
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="mindate" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Max date
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="maxdate" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Date pattern
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="datepattern" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Output format
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="outputformat" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Hour step
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="hourstep" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Minute step
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="minutestep" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Show
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="show" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Show weeks
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="showweeks" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Show seconds
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="showseconds" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Is Meridian
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="ismeridian" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Disabled
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="disabled" />
        </div>
    </div>
</div>