<textarea class="form-control app-textarea"
          role="input"
          [(ngModel)]="datavalue"
          [ngModelOptions]="ngModelOptions"
          [readonly]="readonly"
          [required]="required"
          [disabled]="disabled"
          [maxlength]="maxchars"
          [attr.tabindex]="tabindex"
          [attr.placeholder]="placeholder"
          [attr.accesskey]="shortcutkey"
          [autofocus]="autofocus"
          (blur)="handleBlur($event)"
          (ngModelChange)="handleChange($event)"
          #textarea
></textarea>