<div class="col-md-9">
    <div style="height:500px;">
        <div wmSpinner type.bind="spinnerType"
                    animation.bind="animation"
                    image.bind="imageURL"
                    imagewidth.bind="imageWidth"
                    imageheight.bind="imageHeight"
                    iconsize.bind="iconSize"
                    iconclass.bind="iconClass"
                    caption.bind="messageContent">
        </div>
    </div>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Type
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="spinnerType" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Animation
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="animation" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Image
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="imageURL" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Image Width
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="imageWidth" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Image Height
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="imageHeight" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Icon Class
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="iconClass" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Icon Size
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="iconSize" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Caption
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="messageContent" />
        </div>
    </div>
</div>