    <div dropdown [isOpen]="status.isopen" (onShown)="onShown()" (onHidden)="hideTimepickerDropdown()" [container]="'body'" style="display: inherit">
        <input class="form-control app-textbox display-input" aria-label="Set the time"
               focus-target
               [tabindex]="tabindex"
               [name]="name"
               type="text"
               [value]="displayValue"
               [disabled]="disabled || readonly || isCurrentTime"
               [autofocus]="autofocus"
               [required]="required"
               [attr.placeholder]="placeholder"
               [attr.accesskey]="shortcutkey"
               [required]="required"
               [readOnly]="isReadOnly"
               (click)="toggleDropdown($event)"
               (focus)="invokeOnFocus($event)"
               (blur)="onInputBlur($event)"
               (change)="onDisplayTimeChange($event)"
               (keydown)="onDisplayKeydown($event)">
        <span class="input-group-btn dropdown-toggle">
          <button type="button" class="btn btn-default btn-date" [tabindex]="tabindex" [disabled]="disabled || readonly || isCurrentTime" aria-label="Select time" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown($event)"><i aria-hidden="true" class="app-icon wi wi-access-time"></i></button>
        </span>
        <div *dropdownMenu class="dropdown-menu" (click)="preventTpClose($event)">
            <timepicker class="model-holder"
                        [showMeridian]="ismeridian"
                        [readonlyInput]="isDisabled"
                        [(ngModel)]="bsTimeValue"
                        [disabled]="disabled || readonly || isCurrentTime"
                        [min]="minTime"
                        [max]="maxTime"
                        [hourStep]="hourstep"
                        [minuteStep]="minutestep"
                        [secondsStep]="secondsstep"
                        [mousewheel]="true"
                        [arrowkeys]="true"
                        (isValid)="isValid($event)"
                        [showSeconds]="showseconds" (ngModelChange)="onTimeChange($event)"></timepicker>
        </div>
    </div>
<ng-template [ngIf]="loadNativeDateInput">
    <input type="time" class="form-control app-textbox display-input mobile-input"
           role="input"
           [value]="displayValue"
           [tabindex]="tabindex"
           [required]="required"
           [disabled]="disabled || readonly || isCurrentTime"
           (change)="onTimeChange($event, true)"
           (focus)="invokeOnFocus($event)"
           (blur)="invokeOnTouched($event)">
</ng-template>
