<div class="panel-heading clearfix" (click)="toggle($event)" [ngClass]="{active: isActive}">
    <h3 class="panel-title">
        <a [attr.aria-expanded]="isActive" [tabindex]="tabindex"
           class="accordion-toggle clearfix"
           href="javascript:void(0);" role="button">
            <div class="pull-left">
                <i class="app-icon panel-icon {{iconclass}}" [hidden]="!iconclass"></i>
            </div>
            <div class="pull-left">
                <div class="heading" [innerHTML]="title"></div>
                <div class="description" [innerHTML]="subheading"></div>
            </div>
            <div class="panel-actions pull-right">
                <!-- added class as badge, app-label since it needs this classes to trigger the badge tokens -->
                <span class="label app-label badge label-{{badgetype}}">{{ badgevalue }}</span>
                <span class="app-icon panel-action wi"
                      title="{{appLocale.LABEL_COLLAPSE}}/{{appLocale.LABEL_EXPAND}}">
                <i [ngClass]="isActive ? 'wi-minus' : 'wi-plus'"></i>
            </span>
            </div>
        </a>
    </h3>
</div>
<div [ngClass]="isActive ? 'collapse in' : 'collapse'" class="panel-collapse collapse">
    <div class="panel-body"  partial-container-target>
        <ng-content></ng-content>
    </div>
</div>
