<ng-template ngIf="navsearchbar; else searchTemplate">
    <input title="{{hint || query}}" type="text" class="form-control list-of-objs" [placeholder]="placeholder"
    [(ngModel)]="queryModel"
    (keydown.enter)="onSearchKeyDown($event, query)"
    (ngModelChange)="onQueryModelChange()"
    [ngModelOptions]="{debounce: 100}"
    [readonly]="readonly"
    [required]="required"
    [disabled]="disabled"
    [typeahead]="dataSource"
    (typeaheadLoading)="setLoadingItemsFlag($event)"
    [typeahead]="dataSource"
    (typeaheadOnSelect)="onTypeAheadSelect($event, $item, $model, $label)"
    [typeaheadItemTemplate]="typeaheadTemplate"
    [typeaheadWaitMs]="100"
    [typeaheadOptionsLimit]="limit"
    [typeaheadOptionField]="'name'"
    [typeaheadMinLength]="minLength"
    [typeaheadScrollable]="true"
    [typeaheadOptionsInScrollableView]="7" >
    <i class="btn-close wi wi-cancel" *ngIf="queryModel && queryModel.length" (click)="onClearSearch()"></i>
</ng-template>
<ng-template #searchTemplate>
    <ng-template #typeaheadTemplate let-model="item" let-index="index">
        <img src="{{model.wmImgSrc}}" alt="Search" *ngIf="model.wmImgSrc" [style.width]="model.wmImgWidth">
        <span [title]="model.wmDisplayLabel">{{model.wmDisplayLabel}}</span>
    </ng-template>
    <span class="wi wi-arrow-left form-control-feedback back-btn" aria-hidden="true" (click)="closeSearch()"></span>
    <span class="sr-only">Back button</span>
    <input title="{{hint || query}}" type="text" class="app-textbox form-control list-of-objs" [placeholder]="placeholder"
           container="body"
           [(ngModel)]="queryModel"
           (keydown)="executeKeyDownEvent($event, query)"
           [tabindex]="tabindex"
           [ngClass]="{'ng-invalid' : (type === 'autocomplete' && required && (!isDefined(_model_) || _model_ === '' || _model_ === null))}"
           [readonly]="readonly"
           [disabled]="disabled"
           autocomplete="off"
           (typeaheadLoading)="setLoadingItemsFlag($event)"
           [typeahead]="dataSource"
           (typeaheadOnSelect)="onTypeAheadSelect($event, $item, $model, $label)"
           [typeaheadItemTemplate]="typeaheadTemplate"
           [typeaheadWaitMs]="100"
           [typeaheadOptionsLimit]="limit"
           [typeaheadOptionField]="'name'"
           [typeaheadMinLength]="minLength"
           [typeaheadScrollable]="true"
           [typeaheadOptionsInScrollableView]="7"
    >
    <span *ngIf="_loadingItems" aria-hidden="true" class="fa fa-circle-o-notch fa-spin form-control-feedback"></span>
    <span class="wi wi-close form-control-feedback clear-btn" (click)="clearSearch()"></span>
    <span class="sr-only">Clear button</span>
    <span class="input-group-addon" aria-label="search icon" [ngClass]="{'disabled': disabled}" *ngIf="showsearchicon">
        <form>
            <button title="Search" [disabled]="disabled" class="app-search-button wi wi-search" type="submit"
                    (click)="onTypeAheadSelect($event, $item, $model, $label)"></button>
        </form>
    </span>
</ng-template>
