<ng-template #customItemTemplate let-model="item" let-index="index" let-query="query" let-match="match">
    <a>
        <img *ngIf="model.imgSrc" [src]="model.imgSrc" alt="Search" [style.width]="imagewidth">
        <span [title]="model.label" [innerHtml]="hightlight(match, query) || model.label"></span>
    </a>
</ng-template>

<ng-template #customListTemplate let-matches="matches" let-itemTemplate="itemTemplate" let-query="query">
    <ul #ulElement class="app-search dropdown-menu" scrollable>
        <li #liElements *ngFor="let match of matches" [ngClass]="{active: typeaheadContainerInstance.isActive(match)}"
            (mouseenter)="typeaheadContainerInstance.selectActive(match);"
            (click)="selectMatch(match, $event)">
            <!-- itemTemplate comes from the <input> -->
            <ng-container *ngIf="!match.isHeader()" [ngTemplateOutlet]="itemTemplate"
                          [ngTemplateOutletContext]="{item: match.item, index: i, match: match, query: query}">
            </ng-container>
        </li>
        <div class="status" [hidden]="!(datacompletemsg && dataProvider.hasNoMoreData)">
            <span [textContent]="datacompletemsg"></span>
        </div>
        <div class="status" [hidden]="!_loadingItems">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <span [textContent]="loadingdatamsg"></span>
        </div>
    </ul>
</ng-template>

<!--This template is for search inside mobile navbar.-->
<ng-template *ngIf="navsearchbar; else searchTemplate">
    <input [title]="query || ''" type="text" class="app-textbox form-control list-of-objs app-search-input" [placeholder]="placeholder || ''"
           focus-target
           [(ngModel)]="query"
           [readonly]="readonly"
           [disabled]="disabled"
           [typeahead]="typeaheadDataSource"
           [typeaheadItemTemplate]="customItemTemplate"
           [optionsListTemplate]="customListTemplate"
           (keydown)="unsubscribeDatavalue();"
           (input)="onInputChange()"
           (keydown.arrowdown)="selectNext($event)"
           (keydown.enter)="onSelect($event)"
           (blur)="invokeOnTouched($event)"
           (focus)="onFocus($event)"
           [typeaheadLatinize]="false"
           [typeaheadMinLength]="minchars"
           (typeaheadLoading)="_loadingItems"
           [typeaheadScrollable]="true"
           [typeaheadOptionsInScrollableView]="optionslimitinscrollableview"
           [tabindex]="tabindex"
           [attr.name]="name"/>
</ng-template>
<!--This template is for both web and fullscreen mode in mobile.-->
<ng-template #searchTemplate>
    <span class="wi wi-arrow-left form-control-feedback back-btn" aria-hidden="true" (click)="closeSearch()"></span>
    <span class="sr-only">Back button</span>
    <input [title]="query || ''" type="text" class="app-textbox form-control list-of-objs app-search-input" [placeholder]="placeholder || ''"
           focus-target
           container="body"
           [disabled]="disabled"
           autocomplete="off"
           [(ngModel)]="query"
           [readonly]="readonly"
           [typeahead]="typeaheadDataSource"
           [typeaheadItemTemplate]="customItemTemplate"
           [optionsListTemplate]="customListTemplate"
           (keydown)="unsubscribeDatavalue();"
           (input)="onInputChange()"
           (keydown.arrowdown)="selectNext($event)"
           (keydown.enter)="onSelect($event)"
           (blur)="invokeOnTouched($event)"
           (focus)="onFocus($event)"
           [typeaheadLatinize]="false"
           [typeaheadMinLength]="minchars"
           (typeaheadLoading)="_loadingItems"
           [typeaheadScrollable]="true"
           [typeaheadOptionsInScrollableView]="optionslimitinscrollableview"
           [tabindex]="tabindex"
           [attr.name]="name"/>
    <input class="model-holder" ng-model="proxyModel" ng-required="required" tabindex="-1">
    <span *ngIf="_loadingItems" aria-hidden="true" class="fa fa-circle-o-notch fa-spin form-control-feedback"></span>
    <span class="wi wi-close form-control-feedback clear-btn" [hidden]="!showClosebtn" (click)="clearSearch()"></span>
    <span class="sr-only">Clear button</span>
    <span *ngIf="showsearchicon" class="input-group-addon" aria-label="search icon" [ngClass]="{'disabled': disabled}">
        <form>
            <button title="Search" [disabled]="disabled" class="app-search-button wi wi-search" type="submit"
                    (click)="onSelect($event)"></button>
        </form>
    </span>
</ng-template>

