<div class="col-md-9">
    <form wmForm ngNativeValidate
          title.bind="_title"
          subheading.bind="_subheading"
          iconclass.bind="_iconclass"
          captionposition.bind="_captionposition"
          captionwidth.bind="_captionwidth"
          captionalign.bind="_captionalign"
          validationtype.bind="_validationtype"
          #form_1
          [noValidate]="form_1.validationtype !== 'html'"
          [ngClass]="form_1.captionAlignClass"
          [formGroup]="form_1.ngForm">

        <div wmLayoutGrid columns="2">
            <div wmLayoutGridRow>
                <div wmLayoutGridColumn columnwidth="6">
                    <div data-role="form-field" wmFormField displayname.bind="_displayname" #formfield_1="wmFormField" widgettype="text"
                         hint.bind="_hint" validationmessage.bind="_validationmessage" name="username" required.bind="_required">
                        <div class="live-field form-group app-composite-widget clearfix caption-{{form_1.captionposition}}"
                             widget="text">
                            <label *ngIf="formfield_1.displayname"
                                   class="app-label control-label formfield-label {{form_1._captionClass}}"
                                   [title]="formfield_1.displayname" [ngStyle]="{width: form_1.captionsize}"
                                   [ngClass]="{'text-danger': formfield_1._control?.invalid && formfield_1._control?.touched && form_1.isUpdateMode, required: form_1.isUpdateMode && formfield_1.required}"
                                   [textContent]="formfield_1.displayname"> </label>
                            <div [class]="formfield_1.class"
                                 [ngClass]="form_1._widgetClass">
                                <label class="form-control-static app-label" [textContent]="value"
                                       [hidden]="form_1.isUpdateMode || viewmodewidget === 'default'"></label>
                                <input wmText *ngIf="form_1.isUpdateMode" formControlName="username" #formWidget="wmText">
                                <p *ngIf="!(formfield_1._control?.invalid && formfield_1._control?.touched) && form_1.isUpdateMode"
                                   class="help-block" [textContent]="formfield_1.hint"></p>
                                <p *ngIf="formfield_1._control?.invalid && formfield_1._control?.touched && form_1.isUpdateMode"
                                   class="help-block text-danger"
                                   [textContent]="formfield_1.validationmessage"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div wmLayoutGridColumn columnwidth="6">
                    <div data-role="form-field" wmFormField displayname.bind="'Password'" #formfield_2="wmFormField" widgettype="text"
                         hint.bind="_hint" validationmessage.bind="_validationmessage" name="password" required.bind="_required">
                        <div class="live-field form-group app-composite-widget clearfix caption-{{form_1.captionposition}}"
                             widget="text">
                            <label *ngIf="formfield_2.displayname"
                                   class="app-label control-label formfield-label {{form_1._captionClass}}"
                                   [title]="formfield_2.displayname" [ngStyle]="{width: form_1.captionsize}"
                                   [ngClass]="{'text-danger': formfield_2._control?.invalid && formfield_2._control?.touched && form_1.isUpdateMode, required: form_1.isUpdateMode && formfield_2.required}"
                                   [textContent]="formfield_2.displayname"> </label>
                            <div [class]="formfield_2.class"
                                 [ngClass]="formfield_2.displayname ? form_1._widgetClass : 'col-sm-12'">
                                <label class="form-control-static app-label"
                                       [hidden]="form_1.isUpdateMode || formfield_2.viewmodewidget === 'default'"
                                       [textContent]="formfield_2.value"></label>
                                <input wmText *ngIf="form_1.isUpdateMode" type="password" formControlName="password" #formWidget="wmText">
                                <p *ngIf="!(formfield_2._control?.invalid && formfield_2._control?.touched) && form_1.isUpdateMode"
                                   class="help-block" [textContent]="formfield_2.hint"></p>
                                <p *ngIf="formfield_2._control?.invalid && formfield_2._control?.touched && form_1.isUpdateMode"
                                   class="help-block text-danger"
                                   [textContent]="formfield_2.validationmessage"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div wmLayoutGridRow>
                <div wmLayoutGridColumn columnwidth="6">
                    <div data-role="form-field" wmFormField displayname.bind="'Role'" #formfield_3="wmFormField" widgettype="select"
                         validationmessage.bind="_validationmessage" name="role" required.bind="_required" placeholder="Select value"
                         dataset.bind="options">
                        <div class="live-field form-group app-composite-widget clearfix caption-{{form_1.captionposition}}"
                             widget="text">
                            <label *ngIf="formfield_3.displayname"
                                   class="app-label control-label formfield-label {{form_1._captionClass}}"
                                   [title]="formfield_3.displayname" [ngStyle]="{width: form_1.captionsize}"
                                   [ngClass]="{'text-danger': formfield_3._control?.invalid && formfield_3._control?.touched && form_1.isUpdateMode, required: form_1.isUpdateMode && formfield_3.required}"
                                   [textContent]="formfield_3.displayname"> </label>
                            <div [class]="formfield_3.class"
                                 [ngClass]="formfield_3.displayname ? form_1._widgetClass : 'col-sm-12'">
                                <label class="form-control-static app-label"
                                       [hidden]="form_1.isUpdateMode || formfield_3.viewmodewidget === 'default'"
                                       [textContent]="formfield_3.value"></label>
                                <div wmSelect *ngIf="form_1.isUpdateMode" formControlName="role" #formWidget></div>
                                <p *ngIf="!(formfield_3._control?.invalid && formfield_3._control?.touched) && form_1.isUpdateMode"
                                   class="help-block" [textContent]="formfield_3.hint"></p>
                                <p *ngIf="formfield_3._control?.invalid && formfield_3._control?.touched && form_1.isUpdateMode"
                                   class="help-block text-danger"
                                   [textContent]="formfield_3.validationmessage"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div wmLayoutGridColumn columnwidth="6">
                    <div data-role="form-field" wmFormField displayname.bind="'Rating'" #formfield_4="wmFormField" widgettype="rating"
                         validationmessage.bind="_validationmessage" name="rating" required.bind="_required">
                        <div class="live-field form-group app-composite-widget clearfix caption-{{form_1.captionposition}}"
                             widget="text">
                            <label *ngIf="formfield_4.displayname"
                                   class="app-label control-label formfield-label {{form_1._captionClass}}"
                                   [title]="formfield_4.displayname" [ngStyle]="{width: form_1.captionsize}"
                                   [ngClass]="{'text-danger': formfield_4._control?.invalid && formfield_4._control?.touched && form_1.isUpdateMode, required: form_1.isUpdateMode && formfield_4.required}"
                                   [textContent]="formfield_4.displayname"> </label>
                            <div [class]="formfield_4.class"
                                 [ngClass]="formfield_4.displayname ? form_1._widgetClass : 'col-sm-12'">
                                <label class="form-control-static app-label"
                                       [hidden]="form_1.isUpdateMode || formfield_4.viewmodewidget === 'default'"
                                       [textContent]="formfield_4.value"></label>
                                <div wmRating maxvalue="5" *ngIf="form_1.isUpdateMode" formControlName="rating" #formWidget></div>
                                <p *ngIf="!(formfield_4._control?.invalid && formfield_4._control?.touched) && form_1.isUpdateMode"
                                   class="help-block" [textContent]="formfield_4.hint"></p>
                                <p *ngIf="formfield_4._control?.invalid && formfield_4._control?.touched && form_1.isUpdateMode"
                                   class="help-block text-danger"
                                   [textContent]="formfield_4.validationmessage"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div wmButtonGroup horizontalalign="right" class="form-action col-md-12">
            <button wmButton caption="Reset" type="reset" class="btn-secondary"></button>
            <button wmButton caption="Submit" class="btn-primary" type="submit"></button>
        </div>
    </form>

    <div>
        <button wmButton caption="Set Data" type="button" class="btn-primary" (click)="setData()"></button>
    </div>
    <div>{{form_1.ngForm.value | json}}</div>
    <div>Valid: {{form_1.ngForm.valid}}</div>
    <div>Dirty: {{form_1.ngForm.dirty | json}}</div>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Title
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="_title"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Subheading
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="_subheading"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            iconclass
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="_iconclass"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Validation Type
        </div>
        <div class="property-control col-md-8">
            <select [(ngModel)]="_validationtype">
                <option *ngFor="let key of validationoptions" value="{{key}}">{{key}}</option>
            </select>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Caption Align
        </div>
        <div class="property-control col-md-8">
            <select [(ngModel)]="_captionalign">
                <option *ngFor="let key of captionAlignOptions" value="{{key}}">{{key}}</option>
            </select>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Caption Position
        </div>
        <div class="property-control col-md-8">
            <select [(ngModel)]="_captionposition">
                <option *ngFor="let key of captionPositionOptions" value="{{key}}">{{key}}</option>
            </select>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Caption width
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="_captionwidth"/>
        </div>
    </div>


    <div class="property row">
        <div class="property-text col-md-4">
            Display Name
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="_displayname"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Hint
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="_hint"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Validation message
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="_validationmessage"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Required
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="_required"/>
        </div>
    </div>
</div>
