<div [(ngModel)]="proxyModel" (focus)="onFocus($event)" ngDefaultControl role="radiogroup">
    <div *ngIf="!readonly" class="rating-style">
        <label *ngFor="let rate of ratingItems;"
               [ngClass]="{active : rate.index <= selectedRatingValue}"
               [ngStyle]="{'font-size' :iconsize, color: rate.index <= selectedRatingValue && iconcolor}"
               [title]="rate.label || rate.index"
               (mouseleave)="onMouseleave($event, rate)"
               (mouseenter)="onMouseenter($event, rate)"
               [for]="_id + '-' + rate.index">
            <input type="radio" aria-label="rating radio buttons" aria-checked="false" aria-multiselectable="true"
                   [id]="_id + '-' + rate.index" (click)="onRatingClick($event, rate)" name="ratings-id" [value]="rate.index"/>
        </label>
    </div>
    <div [class.hidden]="!readonly" [ngStyle]="{'font-size' :iconsize}" class="ratings-container disabled" >
        <div class="ratings active" [ngStyle]="{width: ratingsWidth, color: iconcolor}"></div>
    </div>
    <label *ngIf="showcaptions" class="caption" [textContent]="caption"></label>
</div>