<div class="panel-heading clearfix" role="tab" (click)="togglePane($event)" [ngClass]="{active: isActive}">
    <h3 class="panel-title">
        <a href="javascript:void(0);" role="button" class="accordion-toggle" aria-expanded="true" aria-controls="collapseOne"><!--Todo aria-expanded state depends on the active state-->
            <div class="pull-left">
                <i class="app-icon panel-icon {{iconclass}}" [hidden]="!iconclass"></i>
            </div>
            <div class="pull-left">
                <div class="heading" [innerHTML]="title | trustAs: 'html'"></div>
                <div class="description" [innerHTML]="subheading | trustAs: 'html'"></div>
            </div>
        </a>
    </h3>
    <div class="panel-actions">
        <span class="label label-{{badgetype}}">{{badgevalue}}</span>
        <button type="button" aria-expanded="true" aria-controls="collapseOne"
                class="app-icon wi panel-action"
                [title]="expandCollapseIconTitle"
                [ngClass]="isActive ? 'wi-minus' : 'wi-plus'"><!--Todo aria-expanded state depends on the active state-->
        </button>
    </div>
</div>
<div class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel description" [ngClass]="isActive ? 'collapse in' : 'collapse'">
    <!--TODO: Bandhavya Implement smoothscroll directive and wm-navigable-element directive-->
    <div class="panel-body" partial-container-target>
        <ng-content></ng-content>
    </div>
</div>
