    <input class="form-control app-textbox app-dateinput display-input"
        focus-target
        type="text"
        [name]="name"
        [tabindex]="tabindex"
        [value]="displayValue"
        (click)="toggleDpDropdown($event, true)"
        (focus)="onDateTimeInputFocus(); invokeOnFocus($event);"
        (blur)="onInputBlur($event)"
        [disabled]="disabled || readonly"
        [autofocus]="autofocus"
        [required]="required"
        [readOnly]="isReadOnly"
        [attr.placeholder]="placeholder"
        [attr.accesskey]="shortcutkey"
        [attr.aria-label]="hint"
        (change)="onDisplayDateChange($event)"
        (keydown)="this._triggeredByUser = true; onDisplayKeydown($event);">

    <span class="input-group-btn">
        <button type="button"
            class="btn btn-default btn-time"
            [tabindex]="tabindex"
            [disabled]="disabled || readonly"
            [attr.aria-label]="displayValue ? 'Change Date ' + displayValue : 'Choose date by pressing enter'"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="toggleDpDropdown($event, false)">
            <i aria-hidden="true"
                class="app-icon wm-sl-l sl-calendar"></i>
        </button>
    </span>
    <div style="width: 0;display: inline-block;">
    <input class="model-holder"
        aria-label="datepicker dropdownmenu"
        aria-controls="date"
        [container]="containerTarget || 'body'"
        [bsConfig]="_dateOptions"
        [isOpen]="isOpen"
        #datepicker="bsDatepicker"
        bsDatepicker
        [daysDisabled]="excludedDaysToDisable"
        [datesDisabled]="excludedDatesToDisable"
        placement="bottom right"
        [isDisabled]="disabled || readonly"
        [bsValue]="bsDataValue"
        (onShown)="onDatePickerOpen()"
        (onHidden)="hideDatepickerDropdown()"
        (bsValueChange)="onDateChange($event)">
</div>

<ng-template [ngIf]="loadNativeDateInput">
    <input type="date"
        class="form-control app-textbox app-dateinput mobile-input"
        role="textbox"
        step="any"
        placeholder="yyyy-mm-dd" [min]="mindate | date:'yyyy-MM-dd'" [max]="maxdate | date:'yyyy-MM-dd'"
        [value]="nativeDisplayValue"
        [tabindex]="tabindex"
        [required]="required"
        [disabled]="disabled || readonly"
        [attr.aria-label]="hint"
        (change)="onDisplayDateChange($event, true)"
        (focus)="onDateTimeInputFocus(true); invokeOnFocus($event);"
        (blur)="onDateTimeInputBlur(); invokeOnTouched($event)">
    <div *ngIf="!!getCordovaPluginDatePickerApi()"
        class="mobile-input mobile-datepicker-container"
        tabindex="1000000"
        (focus)="onDateTimeInputFocus(true); invokeOnFocus($event);"
        (blur)="onDateTimeInputBlur(); invokeOnTouched($event)"
        (click)="!(disabled || readonly || isCurrentDate) && showCordovaDatePicker()">
    </div>
</ng-template>
