    <input class="form-control app-textbox app-dateinput display-input"
        aria-label="Select date"
        focus-target
        type="text"
        [name]="name"
        [tabindex]="tabindex"
        [value]="displayValue"
        (click)="toggleDpDropdown($event)"
        (focus)="onDateTimeInputFocus(); invokeOnFocus($event);"
        (blur)="onInputBlur($event)"
        [disabled]="disabled || readonly"
        [autofocus]="autofocus"
        [required]="required"
        [readOnly]="isReadOnly"
        [attr.placeholder]="placeholder"
        [attr.accesskey]="shortcutkey"
        (change)="onDisplayDateChange($event)"
        (keydown)="onDisplayKeydown($event)">
    <div style="width: 0;display: inline-block;"
        aria-label="datepicker dropdownmenu"
        aria-controls="date">
        <input class="model-holder"
            [container]="containerTarget || 'body'"
            [bsConfig]="_dateOptions"
            [isOpen]="isOpen"
            #datepicker="bsDatepicker"
            bsDatepicker
            [daysDisabled]="excludedDaysToDisable"
            [datesDisabled]="excludedDatesToDisable"
            placement="bottom right"
            [isDisabled]="disabled || readonly"
            [bsValue]="bsDataValue"
            (onShown)="onDatePickerOpen()"
            (onHidden)="hideDatepickerDropdown()"
            (bsValueChange)="onDateChange($event)">
    </div>
    <span class="input-group-btn">
        <button type="button"
            class="btn btn-default btn-time"
            [tabindex]="tabindex"
            [disabled]="disabled || readonly"
            aria-label="Select date"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="toggleDpDropdown($event)">
            <i aria-hidden="true"
                class="app-icon wi wi-calendar"></i>
        </button>
    </span>

<ng-template [ngIf]="loadNativeDateInput">
    <input type="date"
        class="form-control app-textbox app-dateinput mobile-input"
        role="input"
        step="any"
        placeholder="yyyy-mm-dd" [min]="mindate | date:'yyyy-MM-dd'" [max]="maxdate | date:'yyyy-MM-dd'"
        [value]="nativeDisplayValue"
        [tabindex]="tabindex"
        [required]="required"
        [disabled]="disabled || readonly"
        (change)="onDisplayDateChange($event, true)"
        (focus)="onDateTimeInputFocus(true); invokeOnFocus($event);"
        (blur)="onDateTimeInputBlur(); invokeOnTouched($event)">
</ng-template>
