<span class="input-group-addon" [textContent]="currencySymbol"></span>
<input type="number" class="form-control app-textbox app-currency-input" [attr.aria-label]="name"
       focus-target
       #input
       [attr.name]="name"
       [tabindex]="tabindex"
       [(ngModel)]="datavalue"
       (ngModelChange)="handleChange($event);"
       [ngModelOptions]="{updateOn: 'blur'}"
       (blur)="invokeOnTouched($event)"
       [attr.step]="step"
       [attr.min]="minvalue"
       [attr.max]="maxvalue"
       [required]="required"
       [disabled]="disabled"
       [readonly]="readonly"
       [attr.accesskey]="shortcutkey"
       [attr.placeholder]="placeholder">