@if(!showmarkers){
  <span [textContent]="minvalue" class="app-slider-value pull-left"></span>
  <span [textContent]="maxvalue" class="app-slider-value pull-right"></span>
}
<input class="range-input" aria-orientation="horizontal"
  focus-target
  type="range" [title]="datavalue"
  [attr.min]="minvalue"
  [attr.max]="maxvalue"
  [attr.step]="step"
  [(ngModel)]="datavalue"
  [ngModelOptions]="{standalone: true}"
  [disabled]="disabled"
  [attr.accesskey]="shortcutkey"
  [attr.aria-label]="arialabel"
  (blur)="invokeOnTouched($event)"
  (ngModelChange)="handleChange($event)"
  [attr.name]="name"
  [tabindex]="tabindex"/>
@if (readonly || disabled) {
  <div aria-readonly="true" class="readonly-wrapper"></div>
}
@if(showmarkers){
    <div class="marker-container">
@for (marker of markerItems; track marker) {
        <div class="marker-wrapper"
             [ngStyle]="{ left: marker.left + 'px' }"
             [attr.title]="marker.label">
            <div class="marker-label" [ngClass]="marker.position" [attr.title]="marker.label">
                {{ marker.label }}
            </div>
            <div class="marker-dot" [attr.title]="marker.label"></div>
        </div>
      }
    </div>

}
