<div class="col-md-9">
    <div wmAccordion closeothers.bind="closeothers" height.bind="height" defaultpaneindex.bind="defaultpaneindex" tabindex.bind="tabindex">
        <div wmAccordionPane title.bind="'News'" subheading.bind="'14-12-17'">
            <div wmPanel title.bind="'Regional'" expanded.bind="true" collapsible.bind="true">
                <img wmPicture
                     picturesource.bind="'https://pbs.twimg.com/profile_images/718314968102367232/ypY1GPCQ.jpg'"
                     width.bind="'100px'"
                >
                <div wmPanelFooter>
                    <label wmLabel class.bind="'text-muted'" caption.bind="'Additional Info'"></label>
                </div>
            </div>
        </div>
        <div wmAccordionPane title.bind="'Sports'" subheading.bind="'14-12-17'">
            <div wmPanel title.bind="'Cricket'" expanded.bind="true" collapsible.bind="true">
                <img wmPicture
                     picturesource.bind="'http://www.checkfit.co.uk/files-client/blog_images/800-600/cricket.jpg'"
                     width.bind="'100px'"
                >
                <div wmPanelFooter>
                    <label wmLabel class.bind="'text-muted'" caption.bind="'Additional Info'"></label>
                </div>
            </div>
        </div>
        <div wmAccordionPane title.bind="'Movies'" subheading.bind="'14-12-17'">
            <div wmPanel title.bind="'Bollywood'" expanded.bind="true" collapsible.bind="true">
                <img wmPicture
                     picturesource.bind="'https://kinepolis.lu/en/sites/kinepolis.lu.en/files/styles/general_item_big/public/general_page/image/bollywood_logo.png'"
                     width.bind="'100px'"
                >
                <div wmPanelFooter>
                    <label wmLabel class.bind="'text-muted'" caption.bind="'Additional Info'"></label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Close others
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="closeothers" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            defaultpaneindex
        </div>
        <div class="property-control col-md-8">
            <input type="number" [(ngModel)]="defaultpaneindex" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            height
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="height" />
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            tabindex
        </div>
        <div class="property-control col-md-8">
            <input type="number" [(ngModel)]="tabindex" />
        </div>
    </div>
</div>