<div class='app-date input-group' role='input'>
    <input class="form-control app-textbox app-dateinput display-input"
           type="text"
           [value]="formattedModel"
           (click)="datepicker.toggle()"
           [disabled]="isDisabled"
           [required]="required"
           [placeholder]="placeholder">
    <span class="input-group-btn" (click)="datepicker.toggle()">
        <button type="button" class="btn btn-default btn-time" focus-target><i class="app-icon wi wi-calendar"></i></button>
    </span>
    <div style="height: 0;">
        <input class="model-holder"
               container="body"
               [bsConfig]="_dateOptions"
               [title]="hint"
               [isOpen]="isOpen"
               #datepicker="bsDatepicker"
               bsDatepicker
               [isDisabled]="isDisabled"
               [bsValue]="proxyModel"
               [maxDate]="maxDate"
               [minDate]="minDate"
               (bsValueChange)="onDateChange($event)">
    </div>
</div>