<div dropdown [isOpen]="status.isopen" (onShown)="onShown()" (onHidden)="hideTimepickerDropdown()" [container]="'body'" style="display: inherit">
  <input [attr.aria-label]="arialabel" class="form-control app-textbox display-input"
    focus-target
    [tabindex]="tabindex"
    [name]="name"
    type="text"
    role="timer"
    [value]="displayValue"
    [disabled]="disabled || readonly || isCurrentTime"
    [autofocus]="autofocus"
    [attr.placeholder]="placeholder"
    [attr.accesskey]="shortcutkey"
    [attr.aria-atomic]="isCurrentTime ? 'true' : 'false'"
    [required]="required"
    [readOnly]="isReadOnly"
    (click)="toggleDropdown($event, true)"
    (focus)="onDateTimeInputFocus(); invokeOnFocus($event);"
    (blur)="onInputBlur($event)"
    (change)="onDisplayTimeChange($event)"
    (keydown)="this._triggeredByUser = true; onDisplayKeydown($event)">
  <span class="input-group-btn dropdown-toggle">
    <button type="button" class="btn btn-default btn-date" [tabindex]="tabindex" [disabled]="disabled || readonly || isCurrentTime" aria-label="Select time" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown($event, false)"><i aria-hidden="true" class="app-icon wm-sl-l sl-time"></i></button>
  </span>
  <div *dropdownMenu class="dropdown-menu" (click)="preventTpClose($event)">
    <timepicker class="model-holder"
      [showMeridian]="ismeridian"
      [readonlyInput]="isDisabled"
      [(ngModel)]="bsTimeValue"
      [ngModelOptions]="{standalone: true}"
      [disabled]="disabled || readonly || isCurrentTime"
      [min]="minTime"
      [max]="maxTime"
      [hourStep]="hourstep"
      [minuteStep]="minutestep"
      [secondsStep]="secondsstep"
      [mousewheel]="true"
      [arrowkeys]="true"
      (isValid)="isValid($event)"
      [showSeconds]="showseconds" (ngModelChange)="onTimeChange($event)"
      [ngClass]="{ 'showbuttons': showampmbuttons }"></timepicker>
      @if (ismeridian && showampmbuttons) {
          <div class="ampm-toggle text-center">
              <button class="meridian-btn mb-1" [ngClass]="{ 'active btn-secondary': getPeriod() === 'AM' }" (click)="setPeriod('AM')">AM</button><br>
              <button class="meridian-btn" [ngClass]="{ 'active btn-secondary': getPeriod() === 'PM' }" (click)="setPeriod('PM')">PM</button>
          </div>
      }
  </div>
</div>
@if (loadNativeDateInput) {
  <wm-datetimepicker
    dateTimePicker
    mode="TIME"
    [minTime]="minTime"
    [maxTime]="maxTime"
    [placement]="modal"
    [displayFormat]="timepattern"
    [value]="bsTimeValue"
    (change)="onTimeChange($event)">
  </wm-datetimepicker>
  <div class="mobile-input mobile-datepicker-container"
    tabindex="1000000"
    (click)="!(disabled || readonly) && showDatePickerModal(bsTimeValue)"
    [attr.aria-label]="displayValue ? 'Change time  ' + displayValue : arialabel || 'Select time'"
    (focus)="onDateTimeInputFocus(true); invokeOnFocus($event); assignModel()"
    (blur)="onDateTimeInputBlur(); invokeOnTouched($event)"
    role="button">
  </div>
}
