<ng-template [ngIf]="!groupby" [ngIfElse]="groupedListTemplate">
    <li [ngClass]="['checkbox', 'app-checkbox', itemclass]"
        [class.active]="item.selected"
        *ngFor="let item of datasetItems; let i = index"
        [wmItemTemplate]="content" [userComponentParams]="item" partialContainer
        (click)="onCheckboxLabelClick($event, item.key)">
        <!-- Default item template -->
        <label *ngIf="!content" class="app-checkboxset-label" [ngClass]="{'disabled':disabled || readonly}" [title]="item.label">
            <input [name]="'checkboxset_' + widgetId" type="checkbox" aria-label="checkbox group"
                   [tabindex]="tabindex"
                   [disabled]="disabled || readonly" [attr.data-attr-index]="i"
                   [value]="item.key" [tabindex]="tabindex" [checked]="item.selected"/>
            <span class="caption" [textContent]="item.label"></span>
        </label>
        <!-- Custom partial template -->
        <label *ngIf="content" class="app-checkboxset-label" [ngClass]="{'disabled':disabled || readonly}" >
            <input [name]="'checkboxset_' + widgetId" type="checkbox" aria-label="checkbox group"
                   [tabindex]="tabindex"
                   [disabled]="disabled || readonly" [attr.data-attr-index]="i"
                   [value]="item.key" [tabindex]="tabindex" [checked]="item.selected"/>
            <span class="caption" partial-container-target></span>
        </label>
    </li>
</ng-template>
<input [disabled]="disabled || readonly" hidden class="model-holder">
<div *ngIf="readonly || disabled" class="readonly-wrapper"></div>

<!-- This template will be displayed when groupby is specified. -->
<ng-template #groupedListTemplate>
    <li *ngFor="let groupObj of groupedData" class="app-list-item-group">
        <ul class="item-group">
            <li class="list-group-header" (click)="handleHeaderClick($event)" [title]="groupObj.key" [ngClass]="{'collapsible-content': collapsible}">
                <h4 class="group-title">{{groupObj.key}}
                    <div class="header-action">
                        <i class="app-icon wi action wi-chevron-up" *ngIf="collapsible" title="{{appLocale.LABEL_COLLAPSE}}/{{appLocale.LABEL_EXPAND}}"></i>
                        <span *ngIf="showcount" class="label label-default" [textContent]="groupObj.data.length"></span>
                    </div>
                </h4>
            </li>
            <li *ngFor="let item of groupObj.data; let i = index;"
                [ngClass]="['checkbox', 'app-checkbox', 'group-list-item', itemclass]"
                [class.active]="item.selected"
                [wmItemTemplate]="content" [userComponentParams]="item" partialContainer
                (click)="onCheckboxLabelClick($event, item)">
                <!-- Default item template -->
                <label *ngIf="!content" class="app-checkboxset-label" [ngClass]="{'disabled':disabled || readonly}" [title]="item.label">
                    <input [name]="'checkboxset_' + widgetId" type="checkbox" aria-label="checkbox group"
                           [tabindex]="tabindex"
                           [disabled]="disabled || readonly" [attr.data-attr-index]="i"
                           [value]="item.key" [tabindex]="tabindex" [checked]="item.selected"/>
                    <span class="caption" [textContent]="item.label"></span>
                </label>
                <!-- Custom partial template -->
                <label *ngIf="content" class="app-checkboxset-label" [ngClass]="{'disabled':disabled || readonly}" >
                    <input [name]="'checkboxset_' + widgetId" type="checkbox" aria-label="checkbox group"
                           [tabindex]="tabindex"
                           [disabled]="disabled || readonly" [attr.data-attr-index]="i"
                           [value]="item.key" [tabindex]="tabindex" [checked]="item.selected"/>
                    <span class="caption" partial-container-target></span>
                </label>
            </li>
        </ul>
    </li>
</ng-template>
