<ng-container *ngIf="type === 'anchor'; else menutemplate">
    <a [title]="hint" href="javascript:void(0);" role="button" [ngClass]="['app-anchor dropdown-toggle', menuclass]"
       dropdownToggle aria-haspopup="true" aria-expanded="false" [attr.accesskey]="shortcutkey" [tabindex]="tabindex">
        <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
    </a>
</ng-container>

<ng-template #menutemplate>
    <button [title]="hint" [ngClass]="['btn app-button dropdown-toggle', menuclass]" dropdownToggle [attr.accesskey]="shortcutkey"
            aria-haspopup="true" aria-expanded="false" [tabindex]="tabindex">
        <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
    </button>
</ng-template>

<ul wmMenuDropdown [items]="nodes" [menualign]="menualign" [ngClass]="menulayout" *dropdownMenu aria-labelledby="dropdownmenu"></ul>

<ng-template #buttonContent>
    <i [ngClass]="['app-icon', iconclass]"></i>
    <span class="caption">{{caption}}</span>
    <span>
        <ng-content></ng-content>
    </span>
    <span class="pull-right caret fa" [ngClass]="menuCaret"></span>
</ng-template>
