<ng-template #dialogTemplate>
  @if (showheader) {
    <div wmDialogHeader [closable]="closable"
      [iconclass]="iconclass"
      [iconurl]="iconurl"
      [iconwidth]="iconwidth"
      [iconheight]="iconheight"
      [iconmargin]="iconmargin"
      [heading]="title"
      [headinglevel]="headinglevel"
      [title]="title"
      [titleid]="titleId"
    ></div>
  } @else if (!showheader && title) {
      <h4 [id]="titleId" class="sr-only">
          {{ title }}
      </h4>
  }
  <div wmDialogBody>
    <ng-container *ngTemplateOutlet="dialogBody"></ng-container>
  </div>
  <ng-container *ngTemplateOutlet="dialogFooter"></ng-container>
</ng-template>
