@if (startApp) {
    @if(skipToMainContentEnabled) {
        <div id="app-focus-start" tabindex="-1"></div>
        <a href="javascript:void(0);" class="skip" (click)="skipToAppContent($event)">{{appLocale.LABEL_SKIP_TO_MAIN_CONTENT || 'Skip to main content'}}</a>
    }
    <router-outlet></router-outlet>
  @if (isApplicationType) {
    <div wmContainer partialContainer content="Common" hidden class="ng-hide"></div>
  }
  <app-spinner name="globalspinner" classname="global-spinner" role="alert" aria-live="assertive" [attr.aria-label]="spinner.arialabel || 'Loading'" [show]="spinner.show" [spinnermessages]="spinner.messages"></app-spinner>
  <div wmDialog name="oAuthLoginDialog" title="Application is requesting you to sign in with"
    close.event="closeOAuthDialog()">
    <ng-template #dialogBody>
      <ul class="list-items">
        @for (provider of providersConfig; track provider) {
          <li class="list-item">
            <button class="btn" (click)="provider.invoke()">{{provider.name}}</button>
          </li>
        }
      </ul>
    </ng-template>
  </div>
  <div wmConfirmDialog name="_app-confirm-dialog" title.bind="title" message.bind="message" oktext.bind="oktext"
    canceltext.bind="canceltext" closable="false" iconclass.bind="iconclass"
  escape.event="onEscape()" ok.event="onOk()" cancel.event="onCancel()" close.event="onClose()" opened.event="onOpen()"></div>
  @if (!isApplicationType) {
    <div  wmConfirmDialog name="PrefabConfirmDialog" title.bind="title" message.bind="text" oktext.bind="okButtonText"
      canceltext.bind="cancelButtonText" closable="false" iconclass.bind="iconclass"
    escape.event="onEscape()" ok.event="onOk()" cancel.event="onCancel()" close.event="onClose()" opened.event="onOpen()"></div>
  }
  @if (!isApplicationType) {
    <div  wmAlertDialog name="PrefabAlertDialog" title.bind="title" message.bind="text" oktext.bind="okButtonText"
      canceltext.bind="cancelButtonText" closable="false" iconclass.bind="iconclass"
    escape.event="onEscape()" ok.event="onOk()" cancel.event="onCancel()" close.event="onClose()" opened.event="onOpen()"></div>
  }
  <div wmAppExt></div>
  <i id="wm-mobile-display"></i>
}
<!--Dummy container to create the component dynamically-->
<ng-container #dynamicComponent></ng-container>
