<ng-template #customItemTemplate let-model="item" let-index="index" let-query="query" let-match="match">
    <!-- Default item template -->
    <a *ngIf="!content">
        <img *ngIf="model.imgSrc" [src]="model.imgSrc" alt="Search" [style.width]="imagewidth">
        <span [title]="model.label" [innerHtml]="highlight(match, query) || model.label"></span>
    </a>
    <!-- Custom partial template -->
    <a *ngIf="content" class="customTemplate" partialContainer [wmItemTemplate]="content" [userComponentParams]="match.item">
        <div partial-container-target></div>
    </a>
</ng-template>

<ng-template #customListTemplate let-matches="matches" let-itemTemplate="itemTemplate" let-query="query">
    <ul #ulElement class="app-search dropdown-menu" scrollable>
        <li #liElements *ngFor="let match of matches" [ngClass]="{active: typeaheadContainer && typeaheadContainer.isActive(match), 'list-group-header': match && match.isHeader()}"
            (mouseenter)="typeaheadContainer.selectActive(match);"
            (click)="match && !match.isHeader() && typeaheadContainer.selectMatch(match, $event); $typeaheadEvent = $event; notifySubscriber();">
            <!-- itemTemplate comes from the <input> -->
            <h4 *ngIf="match.isHeader()" class="group-title">{{match.value}}</h4>
            <ng-container *ngIf="!match.isHeader()" [ngTemplateOutlet]="itemTemplate"
                          [ngTemplateOutletContext]="{item: match.item, index: i, match: match, query: query}">
            </ng-container>
        </li>
        <div class="status" [hidden]="_loadingItems || !(datacompletemsg && dataProvider.isLastPage)">
            <span [textContent]="datacompletemsg"></span>
        </div>
        <div class="status" [hidden]="!_loadingItems">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <span [textContent]="loadingdatamsg"></span>
        </div>
    </ul>
</ng-template>

<!--This template is for search inside mobile navbar.-->
<ng-container *ngIf="navsearchbar; else searchTemplate">
    <input [title]="query || ''" type="text" class="app-textbox form-control list-of-objs app-search-input" [placeholder]="placeholder || ''"
           focus-target
           container="body"
           [disabled]="disabled"
           autocomplete="new-password"
           [(ngModel)]="query"
           [readonly]="readonly"
           [disabled]="disabled"
           [typeahead]="typeaheadDataSource"
           [typeaheadWaitMs]="debouncetime"
           [typeaheadItemTemplate]="customItemTemplate"
           [optionsListTemplate]="customListTemplate"
           (input)="onInputChange($event)"
           (keydown)="listenQuery = true"
           (keydown.enter)="$typeaheadEvent = $event;handleEnterEvent($event)"
           (keydown.arrowdown)="selectNext($event)"
           (blur)="invokeOnTouched($event)"
           (click)="handleFocus($event);"
           (focus)="_unsubscribeDv = false; listenQuery = true; handleFocus($event); invokeOnFocus($event);"
           (focusout)="onFocusOut()"
           [typeaheadMinLength]="minchars"
           [typeaheadOptionsLimit]="limit"
           (typeaheadLoading)="_loadingItems"
           (typeaheadOnSelect)="typeaheadOnSelect($event)"
           typeaheadOptionField="label"
           [typeaheadGroupField]="groupby ? 'groupby' : null"
           [typeaheadAsync]="true"
           [typeaheadScrollable]="true"
           [typeaheadOptionsInScrollableView]="optionslimitinscrollableview"
           [dropup]="dropup"
           [tabindex]="tabindex"
           [attr.name]="name"/>
    <i class="btn-close wi wi-cancel" [hidden]="!showClosebtn" (click)="clearSearch($event);"></i>
</ng-container>
<!--This template is for both web and fullscreen mode in mobile.-->
<ng-template #searchTemplate>
    <span class="wi wi-arrow-left form-control-feedback back-btn" aria-hidden="true" (click)="closeSearch()"></span>
    <span class="sr-only">Back button</span>
    <input [title]="query || ''" type="text" class="app-textbox form-control list-of-objs app-search-input" [placeholder]="placeholder || ''"
           focus-target
           [container]="containerTarget || 'body'"
           [disabled]="disabled"
           autocomplete="new-password"
           [(ngModel)]="query"
           [readonly]="readonly"
           [typeahead]="typeaheadDataSource"
           [typeaheadWaitMs]="debouncetime"
           [typeaheadItemTemplate]="customItemTemplate"
           [optionsListTemplate]="customListTemplate"
           (input)="onInputChange($event)"
           (keydown)="listenQuery = true"
           (keydown.enter)="$typeaheadEvent = $event;handleEnterEvent($event)"
           (keydown.arrowdown)="selectNext($event)"
           (blur)="invokeOnTouched($event); onFocusOut()"
           (click)="handleFocus($event);"
           (focus)="_unsubscribeDv = false; listenQuery = true; handleFocus($event); invokeOnFocus($event)"
           [typeaheadMinLength]="minchars"
           [typeaheadOptionsLimit]="limit"
           (typeaheadLoading)="_loadingItems"
           (typeaheadOnSelect)="typeaheadOnSelect($event)"
           typeaheadOptionField="label"
           [typeaheadGroupField]="groupby ? 'groupby' : null"
           [typeaheadAsync]="true"
           [typeaheadScrollable]="true"
           [typeaheadOptionsInScrollableView]="optionslimitinscrollableview"
           [tabindex]="tabindex"
           [dropup]="dropup"
           [attr.name]="name">
    <input class="model-holder" ng-model="proxyModel" ng-required="required" tabindex="-1">
    <span *ngIf="_loadingItems" aria-hidden="true" class="fa fa-circle-o-notch fa-spin form-control-feedback"></span>
    <span class="wi wi-close form-control-feedback clear-btn" [ngClass]="{'show-btn': isQueryEntered()}" (click)="clearSearch($event, true)"></span>
    <span class="sr-only">Clear button</span>
    <span *ngIf="showsearchicon" class="input-group-addon" aria-label="search icon" [ngClass]="{'disabled': disabled}">
        <form>
            <button title="Search" [disabled]="disabled" class="app-search-button wi wi-search" type="submit"
                    (click)="onSearchSelect($event)"></button>
        </form>
    </span>
</ng-template>
