<div class="col-md-9">
    <form ngNativeValidate>
        <textarea wmTextarea
                  show.bind="show"
                  hint.bind="hint"
                  placeholder.bind="placeholder"
                  width.bind="width"
                  height.bind="height"
                  autofocus.bind="true"
                  readonly.bind="readonly"
                  disabled.bind="disabled"
                  required.bind="required"
                  maxchars.bind="maxchars"
                  datavalue.bind="datavalue"
                  class="textarea-class"
                  ngModel
                  name="myTextArea"></textarea>
        <button type="submit" class="btn">Submit</button>
    </form>
    <div>
        {{myTextAreaWidget.datavalue}}
    </div>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Datavalue
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="datavalue"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Hint
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="hint"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Placeholder
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="placeholder"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Width
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="width"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Height
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="height"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Show
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="show"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Max chars
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="maxchars"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Required
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="required"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Disabled
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="disabled"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Readonly
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="readonly"/>
        </div>
    </div>
</div>


