<button *ngIf="closable" aria-label="Close" class="app-dialog-close close" (click)="closeDialog();" title="Close">
    <span aria-hidden="true">&times;</span>
</button>
<h4 class="app-dialog-title modal-title">
    <i class="{{_iconclass}}" [style.width]="iconwidth" [style.height]="iconheight" [style.margin]="iconmargin"></i>
    <span class="dialog-heading">{{caption}}</span>
    <span class="dialog-sub-heading" *ngIf="subheading" [title]="subheading">{{subheading}}</span>
</h4>
<div class="dialog-header-action">
    <ng-content></ng-content>
</div>