<ul class="nav nav-tabs" [ngClass]="{'nav-stacked': vertical, 'nav-justified': justified}" role="tablist">
    <li class="tab-header" *ngFor="let pane of panes; let i=index;" [attr.data-paneid]="pane.widgetId" [ngClass]="{'active': pane.isActive, 'disabled': pane.disabled}"
        [hidden]="!pane.show" (click)="pane.select($event); pane.tabpaneHeaderClick($event, i);" role="tab" [attr.aria-selected]="pane.isActive">
        <a href="javascript:void(0);" class="tab-heading" role="button" [attr.aria-label]="pane.title" [attr.title]="pane.title" [tabindex]="pane.tabindex" [attr.aria-controls]="pane.name">
                <i [ngClass]="['app-icon', pane.paneicon]" *ngIf="pane.paneicon"></i>
                <span [textContent]="pane.title"></span>
                <span *ngIf="pane.badgevalue" class="label label-{{pane.badgetype}}" [textContent]="pane.badgevalue"></span>
        </a>
    </li>
</ul>
<div class="tab-content" *ngIf="type !== 'dynamic'" [ngClass]="{'tab-stacked': vertical, 'tab-justified': justified}">
    <ng-content ngProjectAs="div[wmTabPane]"></ng-content>
</div>
<div class="tab-content" *ngIf="type === 'dynamic'" [ngClass]="{'tab-stacked': vertical, 'tab-justified': justified}">
    <div *ngIf="fieldDefs && !fieldDefs.length">{{nodatamessage}}</div>
    <ng-content select="div[wmRepeatTemplate]"></ng-content>
</div>
