<div class="col-md-9">
    <div wmSelect
            dataset.bind="options"
            datafield.bind="datafield"
            displayfield.bind="displayfield"
            width.bind="width"
            usekeys.bind="usekeys"
            required.bind="required"
            readonly.bind="readonly"
            disabled.bind="disabled"
            height.bind="height"
            hint.bind="hint"
            multiple.bind="multiple"
            show.bind="show"
            placeholder="Enter text"
            name="mySelect"
    ></div>
    <div class="row clearfix">
        <div class="col-sm-3">datavalue:</div>
        <div class="col-sm-9">{{mySelectWidget.datavalue | json}}</div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-3">displayvalue:</div>
        <div class="col-sm-9">{{mySelectWidget.displayValue}}</div>
    </div>
</div>
<div class="col-md-3 properties">
    <h4 class="property-header">Properties</h4>
    <hr>
    <div class="property row">
        <div class="property-text col-md-4">
            Data field
        </div>
        <div class="property-control col-md-8">
            <select [(ngModel)]="datafield">
                <option *ngFor="let key of dataFieldKeys" [value]="key">{{key}}</option>
            </select>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Display field
        </div>
        <div class="property-control col-md-8">
            <select [(ngModel)]="displayfield">
                <option *ngFor="let key of keys" [value]="key">{{key}}</option>
            </select>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Hint
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="hint"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Width
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="width"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Height
        </div>
        <div class="property-control col-md-8">
            <input type="text" [(ngModel)]="height"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Show
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="show"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Required
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="required"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Use keys
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="usekeys"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            Multiple
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="multiple"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            disabled
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="disabled"/>
        </div>
    </div>
    <div class="property row">
        <div class="property-text col-md-4">
            readonly
        </div>
        <div class="property-control col-md-8">
            <input type="checkbox" [(ngModel)]="readonly"/>
        </div>
    </div>
</div>
