<div class="panel-heading" *ngIf="title || subheading || iconclass">
    <h3 class="panel-title">
        <div class="pull-left">
            <i class="app-icon panel-icon" [ngClass]="iconclass" *ngIf="iconclass"></i>
        </div>
        <div class="pull-left">
            <div class="heading" [textContent]="title"></div>
            <div class="description" [textContent]="subheading"></div>
        </div>
    </h3>
</div>
<div class="form-body panel-body">
    <p wmMessage *ngIf="statusMessage" caption.bind="statusMessage" type="success"></p>
    <div class="form-elements">
        <ng-content></ng-content>
    </div>
</div>