<div role="group" aria-label="button switch" class="btn-group btn-group-justified">
    <a *ngFor="let opt of options; let $index = index;"
       title="{{opt[displayfield || 'label']}}" focus-target
       href="javascript:void(0);"
       class="btn btn-default"
       name="wm-switch-{{opt}}"
       [attr.disabled]="disabled"
       [ngClass]="{'selected': selected.index === $index}"
       (click)="selectOpt($event, $index)">
        <i *ngIf="opt[iconclass || 'icon']" arai-hidden="true" [ngClass]="['app-icon', opt[iconclass] || opt['icon']]"></i>
        {{opt[displayfield || "label"]}}
    </a>
</div>
<span [title]="(options[selected.index] && options[selected.index][displayfield || 'label']) || _model_"
      class="btn btn-primary app-switch-overlay switch-handle">
    <i *ngIf="options[selected.index] && options[selected.index][iconclass || 'icon']"
       [ngClass]="['app-icon', options[selected.index] && options[selected.index][iconclass || 'icon']]"></i>
    {{(options[selected.index] && options[selected.index][displayfield || 'label']) || _model_}}
</span>
<input name="{{name}}" class="model-holder ng-hide" [disabled]="disabled" [value]="_model_" [required]="required">
