<div class="panel-heading" *ngIf="title || subheading || iconclass">
    <h3 class="panel-title">
        <div class="pull-left"><i class="app-icon panel-icon {{iconclass}}" [hidden]="!iconclass"></i></div>
        <div class="pull-left">
            <div class="heading">{{title}}</div>
            <div class="description">{{subheading}}</div>
        </div>
    </h3>
</div>
<ul tabindex="0" class="app-livelist-container clearfix" [ngClass]="listclass">
    <li *ngFor="let item of fieldDefs; let index = index; trackBy: listTrackByFn;" class="app-list-item clearfix " [ngClass]="[itemsPerRowClass, listItemRef.itemClass]" [wmListItem]="item" #listItemRef="listItemRef">
        <ng-container [ngTemplateOutlet]="listTemplate" [ngTemplateOutletContext]="{item:item, index:index}"></ng-container>
    </li>
</ul>
<div class="panel-footer" *ngIf="navigation !== 'None'">
    <nav wmPagination show.bind="showNavigation" navigationalign.bind="navigationalign" navigationsize.bind="navigationSize"
         navigation.bind="navControls" showrecordcount.bind="showrecordcount" maxsize.bind="maxsize" boundarylinks.bind="boundarylinks"
         forceellipses.bind="forceellipses" directionlinks.bind="directionlinks"></nav>
</div>
