<div class="spinner-message" aria-label="loading gif">
    <span class="spinner-image animated infinite" [ngClass]="animation" aria-hidden="true"
        [ngStyle]="{width: imagewidth, height: imageheight, backgroundImage: 'url(' + picture + ')', backgroundSize: imagewidth}"
        *ngIf="type === 'image'"></span>
    <i class="spinner-image animated infinite" [ngClass]="[iconclass, animation]" [style.fonSize]="iconsize" *ngIf="type === 'icon'"></i>
    <span class="spinner-text" [innerHTML]="caption | trustAs: 'html'" *ngIf="showCaption"></span>
    <div class="spinner-messages" *ngIf="!showCaption && spinnerMessages">
        <p *ngFor="let value of spinnerMessages" [textContent]="value"></p>
    </div>
</div>