<a tabindex="0" href="javascript:void(0);" [title]="item.label" [target]="menuRef.linktarget">
    <span *ngIf="item.children.length" class="pull-right fa caret {{menualign}}"></span>
    <i class="app-icon {{item.icon}}"></i>
    {{item.label}}
</a>
<ng-container [ngTemplateOutlet]="nestedMenuDropdown" *ngIf="item.children.length" [ngTemplateOutletContext]="{item: item}"></ng-container>

<ng-template #nestedMenuDropdown let-item="item">
    <ul wmMenuDropdown [items]="item.children"></ul>
</ng-template>