<input class="form-control app-textbox"
       focus-target
       [type]="type"
       role="textbox"
       [attr.name]="name"
       [(ngModel)]="datavalue"
       [ngModelOptions]="{standalone: true}"
       [readonly]="readonly"
       [required]="required"
       [disabled]="disabled"
       [maxlength]="maxchars"
       [attr.tabindex]="tabindex"
       [attr.placeholder]="placeholder"
       [attr.accesskey]="shortcutkey"
       [attr.aria-label]="hint"
       [autofocus]="autofocus"
       [ngClass]="conditionalclass"
       [ngStyle]="conditionalstyle"
       (blur)="handleBlur($event)"
       (ngModelChange)="handleChange($event)"
       #input>
