<div class="panel-heading {{helpClass}}" aria-label="Panel header" *ngIf="showHeader" #panelHeading>
    <h3 class="panel-title">
        <a href="javascript:void(0)" class="panel-toggle" (click)="toggle($event)">
            <div class="pull-left">
                <i class="app-icon panel-icon {{iconclass}}" *ngIf="iconclass && !iconurl"></i>
                <img data-identifier="img" title="iconurl" alt="Panel icon" class="panel-image-icon"
                     [src]="iconurl | image" *ngIf="iconurl"
                     [ngStyle]="{width: iconwidth ,height: iconheight, margin: iconmargin}" />
            </div>
            <div class="pull-left">
                <div class="heading" [innerHTML]="title | trustAs: 'html'" [title]="title"></div>
                <div class="description" [innerHTML]="subheading | trustAs: 'html'"></div>
            </div>
        </a>
        <div class="panel-actions">
            <span *ngIf="badgevalue" aria-label="badge"
                  class="app-badge label label-{{badgetype}}">{{badgevalue}}</span>
            <div wmMenu aria-label="dropdown" dropdown type="anchor" class="panel-action" dataset.bind="actions"
                 *ngIf="actions" caption="" menuposition="down,left" iconclass="wi wi-more-vert"
                 autoclose.bind="autoclose" datafield.bind="datafield" select.event="menuActionItemClick($event,$item)">
            </div>
            <button type="button" aria-label="Help" class="app-icon panel-action wi" [title]="appLocale.LABEL_HELP"
                    *ngIf="helptext" (click)="toggleHelp()"><i class="wi-question"></i></button>
            <button type="button" aria-label="Collapse/Expand" class="app-icon wi panel-action" *ngIf="collapsible"
                    [title]="expandCollapseTitle" (click)="toggle($event);"><i
                   [ngClass]="expanded ? 'wi-minus' : 'wi-plus'"></i></button>
            <button type="button" aria-label="Fullscreen/Exit" class="app-icon panel-action wi" *ngIf="enablefullscreen"
                    [title]="fullScreenTitle" (click)="toggleFullScreen($event);"><i
                   [ngClass]="fullscreen ? 'wi-fullscreen-exit' : 'wi-fullscreen'"></i></button>
            <button type="button" aria-label="Close button" class="app-icon panel-action"
                    title="{{appLocale.LABEL_CLOSE}}" *ngIf="closable" (click)="close($event)"><i
                   class="wi wi-close"></i></button>
        </div>
    </h3>
</div>
<div class="panel-content" aria-label="Panel body" [hidden]="!expanded" #panelContent>
    <!-- Todo Bandhavya - implement smooth scroll -->
    <div partial-container-target #panelBody [ngClass]="['panel-body', helpClass]">
        <ng-content></ng-content>
    </div>
    <aside class="panel-help-message" [ngClass]="helpClass">
        <h5 class="panel-help-header" [textContent]="appLocale.LABEL_HELP"></h5>
        <div class="panel-help-content" [innerHTML]="helptext | trustAs : 'html'"></div>
    </aside>
</div>
<div class="app-panel-footer panel-footer clearfix" aria-label="Panel footer" [hidden]="hideFooter">
    <ng-content select="[wmPanelFooter]"></ng-content>
</div>
