<div class="app-wizard-heading" role="tab">
    <ul class="app-wizard-steps nav nav-pills {{stepClass}}">
        <li class="app-wizard-step" *ngFor="let step of steps; let i = index" [hidden]="!step.show"
            [ngClass]="{active: step.done, current: step.active, disabled: step.disabled}"
            (click)="onWizardHeaderClick($event, step)">
            <a href="javascript:void(0)" [attr.aria-label]="step.title" [attr.title]="step.title">
                <span class="arrow" *ngIf="class && class.includes('classic')"></span>
                <span class="wizard-step-number">
                    <span class="count" *ngIf="class && class.includes('number') && !step.isDone">{{i+1}}</span>
                    <i class="dottedstepper" *ngIf="class && (class.includes('dottedstepper') || class.includes('text-inline')) && !step.isDone"></i>
                    <i class="app-icon {{step.iconclass}}" *ngIf="step.iconclass && step.isDone"></i>
                </span>
                <span class="title-wrapper">
                    <span *ngIf="class && class.includes('text-inline')">{{'0' + (i+1)}}</span>
                    <span class="step-title" [textContent]="step.title"></span>
                </span>
            </a>
        </li>
    </ul>
</div>
<div class="app-wizard-body panel-body" role="tabpanel">
    <p wmMessage *ngIf="message.caption" caption.bind="message.caption" type.bind="message.type"></p>
    <ng-content ngProjectAs="form[wmWizardStep]"></ng-content>
</div>
<div class="app-wizard-actions panel-footer {{actionsalignment}}">
    <a class="app-wizard-skip" name="skipStep_{{name}}" *ngIf="currentStep?.enableskip" title="Skip step" (click)="skip()">Skip &raquo;</a>
    <div class="app-wizard-actions-right">
        <button type="button" name="cancelBtn_{{name}}" class="btn app-button btn-default" *ngIf="cancelable"
                (click)="cancel()" [title]="cancelbtnlabel" [textContent]="cancelbtnlabel"></button>
        <button type="button" name="previousBtn_{{name}}" class="btn app-button btn-default"
                *ngIf="hasPrevStep" (click)="prev()" [disabled]="!enablePrev">
            <i class="app-icon wi wi-chevron-left"></i>
            <span class="btn-caption" [textContent]="previousbtnlabel"></span>
        </button>
        <button type="button" name="nextBtn_{{name}}" class="btn app-button btn-primary"
                *ngIf="hasNextStep" (click)="next()" [disabled]="!enableNext">
            <span class="btn-caption" [textContent]="nextbtnlabel"></span>
            <i class="app-icon wi wi-chevron-right"></i>
        </button>
        <button type="button" name="doneBtn_{{name}}" class="btn app-button btn-success"
                *ngIf="showDoneBtn" (click)="done()"
                [disabled]="!enableDone">
            <i class="app-icon wi wi-done"></i>
            <span class="btn-caption" [textContent]="donebtnlabel"></span>
        </button>
    </div>
</div>
